/* Kunena */
a.ktoggler{
	margin: 4px 4px 0 0;
}
#ktop a.ktoggler{
	margin: 0;
}
#mainbody #Kunena div.kblock > div.kheader,
#mainbody #Kunena .kblock div.kheader {
	background: url(../images/linear.jpg) repeat-x !important;
	border-top: 1px solid #1A96EE;
	text-shadow: 0px -1px 0px #142849;
}
#mainbody #Kunena .kforum-pathway{
	padding: 5px 0 5px 5px;	
}
#Kunena div.kblock.kpathway{
	width: 99.6%;
}
#Kunena .kbutton:hover,
#Kunena .kbutton:focus,
#Kunena .kbutton:active{
	font-size: 16px;
	padding: 5px 20px 3px;
}
#Kunena .kattachment .kbutton{
	color: #133C68 !important;
}