@font-face {
	font-family: 'KhBattambangRegular';
	src: url('font-kh-battambang.eot');
	src: local('☺'), url('font-kh-battambang.woff') format('woff'), url('font-kh-battambang.ttf') format('truetype'), url('font-kh-battambang.svg#webfontkwyMJ0iz') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lang_khmer h1 { font:normal 36px/36px hanuman, "Trebuchet MS",sans-serif,Verdana; !important }
.lang_khmer h2 { font:normal 28px/28px hanuman, "Trebuchet MS",sans-serif,Verdana; !important }
.lang_khmer h3 { font:normal 24px/24px hanuman, "Trebuchet MS",sans-serif,Verdana; !important }
.lang_khmer h4 { font:normal 20px/20px hanuman, "Trebuchet MS",sans-serif,Verdana; !important }
.lang_khmer h5 { font:normal 20px/20px hanuman, "Trebuchet MS",sans-serif,Verdana; !important }
.lang_khmer h6 { font:normal 20px/20px hanuman, "Trebuchet MS",sans-serif,Verdana; !important }

.lang_khmer, body .lang_khmer, .lang_khmer .itemHeader, .lang_khmer .itemBody, .lang_khmer .itemIntroText, .lang_khmer .itemFullText, .lang_khmer .itemFullText p, .mg .lang_khmer .itemIntroText, .mg .lang_khmer .itemIntroText p, .mg .lang_khmer .itemFullText, .mg .lang_khmer .itemFullText p, .mg .lang_khmer .catItemIntroText, .mg .lang_khmer .catItemBody  {
	font-style: normal;
	line-height:normal;
	font:normal 14px/1.5 Hanuman, "Trebuchet MS",sans-serif,Verdana;  !important
		}
.mg .lang_khmer .catItemIntroText {
	color:#50728f;
	}

.mg .lang_khmer .catItemTitle {
	display: block;
	padding: 2px 0 6px;
	font:bold 20px/22px Hanuman, "Trebuchet MS", sans-serif, Verdana;  !important
	}