/**
 * @package         Tabs
 * @version         5.3.1PRO
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/tabs/style.min.css
 */
.nn_tabs .fade {
  opacity: 0;
  -webkit-transition: opacity 1ms linear;
  -moz-transition: opacity 1ms linear;
  -o-transition: opacity 1ms linear;
  transition: opacity 1ms linear;
}
.nn_tabs .fade.in {
  opacity: 1;
}
.nn_tabs.has_effects .fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.nn_tabs .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 1ms ease;
  -moz-transition: height 1ms ease;
  -o-transition: height 1ms ease;
  transition: height 1ms ease;
}
.nn_tabs .collapse.in {
  height: auto;
}
.nn_tabs.has_effects .collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.nn_tabs > .nav {
  padding: 0;
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nn_tabs > .nav > li > a {
  display: block;
}
.nn_tabs > .nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nn_tabs > .nav > .pull-right {
  float: right;
}
.nn_tabs .nav-tabs {
  *zoom: 1;
  border-bottom: 1px solid #dddddd;
}
.nn_tabs .nav-tabs:before,
.nn_tabs .nav-tabs:after {
  display: table;
  content: "";
  line-height: 0;
}
.nn_tabs .nav-tabs:after {
  clear: both;
}
.nn_tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nn_tabs .nav-tabs > li > a {
  margin-right: 2px;
  padding: 8px 12px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nn_tabs .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nn_tabs .nav-tabs > li.active > a,
.nn_tabs .nav-tabs > li.active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nn_tabs .tab-content {
  overflow: visible;
}
.nn_tabs .tab-content > .tab-pane {
  *zoom: 1;
  display: none;
}
.nn_tabs .tab-content > .tab-pane:before,
.nn_tabs .tab-content > .tab-pane:after {
  display: table;
  content: "";
  line-height: 0;
}
.nn_tabs .tab-content > .tab-pane:after {
  clear: both;
}
.nn_tabs .tab-content > .active {
  display: block;
}
.nn_tabs-responsive > .nn-tabs-sm {
  border-bottom: 0;
}
.nn_tabs-responsive > .nn-tabs-sm > li {
  float: none;
}
.nn_tabs-responsive > .nn-tabs-sm > li > a {
  border: 1px solid #dddddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nn_tabs-responsive > .nn-tabs-sm > li > a:hover,
.nn_tabs-responsive > .nn-tabs-sm > li > a:focus {
  border-color: #dddddd;
  z-index: 2;
}
.nn_tabs-responsive > .nn-tabs-sm > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nn_tabs-responsive > .nn-tabs-sm > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
span.nn_tabs-title-inactive {
  display: inherit;
}
span.nn_tabs-title-active {
  display: none;
}
.nn_tabs {
  *zoom: 1;
}
.nn_tabs:before,
.nn_tabs:after {
  display: table;
  content: "";
  line-height: 0;
}
.nn_tabs:after {
  clear: both;
}
.nn_tabs > ul.nav-tabs > li {
  /* Reset styles to prevent templates li styles from messing stuff up */
  margin: 0 !important;
  margin-bottom: -1px !important;
  padding: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
  overflow-y: visible !important;
}
.nn_tabs > ul.nav-tabs > li:before {
  content: "";
  margin: 0;
  padding: 0;
}
.nn_tabs > ul.nav-tabs > li > a {
  display: block !important;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: #3071a9;
  text-decoration: none;
  line-height: inherit;
}
.nn_tabs > ul.nav-tabs > li > a:hover {
  color: #1f496e;
  text-decoration: none;
}
.nn_tabs > ul.nav-tabs > li > a:focus,
.nn_tabs > ul.nav-tabs > li.active > a:focus {
  outline: none;
  border-color: #eab03f;
}
.nn_tabs > ul.nav-tabs > li.active span.nn_tabs-title-inactive {
  display: none;
}
.nn_tabs > ul.nav-tabs > li.active span.nn_tabs-title-active {
  display: inherit;
}
.nn_tabs > .tab-content {
  padding: 0;
}
.nn_tabs > .tab-content > .tab-pane {
  padding: 12px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.nn_tabs > .tab-content > .tab-pane > :first-child {
  margin-top: 0;
}
.nn_tabs > .tab-content > .tab-pane > :last-child {
  margin-bottom: 0;
}
.nn_tabs > .tab-content > .tab-pane .nn_tabs-title {
  display: none;
}
.nn_tabs .nn_tabs-scroll,
.nn_tabs .nn_tabs-sm-scroll {
  position: relative;
  visibility: hidden;
  padding: 0;
}
.nn_tabs.outline_content > .tab-content {
  border: 1px solid #dddddd;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nn_tabs.outline_content > .tab-content > .tab-pane {
  padding: 12px;
}
.nn_tabs.outline_content > ul.nav-tabs {
  margin-bottom: 0;
}
.nn_tabs.outline_handles ul.nav-tabs > li a,
.nn_tabs.outline_handles ul.nav-tabs > li a:hover {
  border: 1px solid #dddddd;
}
.nn_tabs.color_inactive_handles > ul.nav > li > a {
  background-color: #f5f5f5;
  margin-right: 5px;
}
.nn_tabs.color_inactive_handles > ul.nav > li > a:hover {
  background-color: #eeeeee;
}
.nn_tabs.color_inactive_handles > ul.nav > li.active > a,
.nn_tabs.color_inactive_handles > ul.nav > li.active > a:hover {
  background-color: #ffffff;
}
.nn_tabs.align_right > ul.nav-tabs > li {
  float: right;
}
.nn_tabs.align_right > ul.nav-tabs > li > a {
  margin-left: 2px;
  margin-right: 0;
}
.nn_tabs.align_center > ul.nav-tabs {
  text-align: center;
}
.nn_tabs.align_center > ul.nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: -1px;
  margin-right: -3px;
}
.nn_tabs.align_justify > ul.nav-tabs {
  text-align: center;
  display: table;
  width: 100%;
  margin-bottom: -1px;
}
.nn_tabs.align_justify > ul.nav-tabs > .nn_tabs-scroll {
  display: table-cell;
}
.nn_tabs.align_justify > ul.nav-tabs > li {
  float: none;
  display: table-cell;
}
.nn_tabs.align_justify > ul.nav-tabs > li:last-child > a {
  margin-right: 0;
}
.nn_tabs.align_justify > ul.nav-tabs > li a,
.nn_tabs.align_justify > ul.nav-tabs > li a:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}
.nn_tabs.align_justify > ul.nav-tabs:before {
  display: none;
}
.nn_tabs.align_justify > ul.nav-tabs:after {
  display: none;
}
.nn_tabs.align_justify.bottom > ul.nav-tabs {
  margin-bottom: 0;
  margin-top: -1px;
}
.nn_tabs.align_justify.bottom > ul.nav-tabs > li a,
.nn_tabs.align_justify.bottom > ul.nav-tabs > li a:hover {
  margin-bottom: 0;
  margin-top: -1px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid transparent;
}
.nn_tabs.top > ul.nav-tabs > li > a {
  border-bottom-color: #dddddd;
}
.nn_tabs.top > ul.nav-tabs > li > a:focus,
.nn_tabs.top > ul.nav-tabs > li.active > a:focus {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 -2px 2px rgba(234, 176, 63, 0.5);
  -moz-box-shadow: 0 -2px 2px rgba(234, 176, 63, 0.5);
  box-shadow: 0 -2px 2px rgba(234, 176, 63, 0.5);
}
.nn_tabs.top > ul.nav-tabs > li.active a,
.nn_tabs.top > ul.nav-tabs > li.active a:hover {
  border-bottom-color: transparent;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li {
    float: none;
  }
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li:last-child > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.active:last-child > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li:last-child > a:hover,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.active:last-child > a:hover {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #dddddd;
  }
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li > a {
    margin-right: 0;
  }
}
.nn_tabs.top > ul.nav-tabs > li.blue > a,
.nn_tabs.top > ul.nav-tabs > li.blue > a:hover {
  border-top: 5px solid #74b4e8;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.blue > a:hover,
.nn_tabs.top > ul.nav-tabs > li.blue.active > a {
  border-top-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.blue > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.blue > a:hover {
    border: 1px solid #74b4e8;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.primary > a,
.nn_tabs.top > ul.nav-tabs > li.primary > a:hover {
  border-top: 5px solid #74b4e8;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.primary > a:hover,
.nn_tabs.top > ul.nav-tabs > li.primary.active > a {
  border-top-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.primary > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.primary > a:hover {
    border: 1px solid #74b4e8;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.info > a,
.nn_tabs.top > ul.nav-tabs > li.info > a:hover {
  border-top: 5px solid #47b0cf;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.info > a:hover,
.nn_tabs.top > ul.nav-tabs > li.info.active > a {
  border-top-color: #24748c;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.info > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.info > a:hover {
    border: 1px solid #47b0cf;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.green > a,
.nn_tabs.top > ul.nav-tabs > li.green > a:hover {
  border-top: 5px solid #62bc62;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.green > a:hover,
.nn_tabs.top > ul.nav-tabs > li.green.active > a {
  border-top-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.green > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.green > a:hover {
    border: 1px solid #62bc62;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.success > a,
.nn_tabs.top > ul.nav-tabs > li.success > a:hover {
  border-top: 5px solid #62bc62;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.success > a:hover,
.nn_tabs.top > ul.nav-tabs > li.success.active > a {
  border-top-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.success > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.success > a:hover {
    border: 1px solid #62bc62;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.orange > a,
.nn_tabs.top > ul.nav-tabs > li.orange > a:hover {
  border-top: 5px solid #faa937;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.orange > a:hover,
.nn_tabs.top > ul.nav-tabs > li.orange.active > a {
  border-top-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.orange > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.orange > a:hover {
    border: 1px solid #faa937;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.warning > a,
.nn_tabs.top > ul.nav-tabs > li.warning > a:hover {
  border-top: 5px solid #faa937;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.warning > a:hover,
.nn_tabs.top > ul.nav-tabs > li.warning.active > a {
  border-top-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.warning > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.warning > a:hover {
    border: 1px solid #faa937;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.red > a,
.nn_tabs.top > ul.nav-tabs > li.red > a:hover {
  border-top: 5px solid #d3534c;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.red > a:hover,
.nn_tabs.top > ul.nav-tabs > li.red.active > a {
  border-top-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.red > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.red > a:hover {
    border: 1px solid #d3534c;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.danger > a,
.nn_tabs.top > ul.nav-tabs > li.danger > a:hover {
  border-top: 5px solid #d3534c;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.danger > a:hover,
.nn_tabs.top > ul.nav-tabs > li.danger.active > a {
  border-top-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.danger > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.danger > a:hover {
    border: 1px solid #d3534c;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.error > a,
.nn_tabs.top > ul.nav-tabs > li.error > a:hover {
  border-top: 5px solid #d3534c;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.error > a:hover,
.nn_tabs.top > ul.nav-tabs > li.error.active > a {
  border-top-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.error > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.error > a:hover {
    border: 1px solid #d3534c;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.grey > a,
.nn_tabs.top > ul.nav-tabs > li.grey > a:hover {
  border-top: 5px solid #b3b3b3;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.grey > a:hover,
.nn_tabs.top > ul.nav-tabs > li.grey.active > a {
  border-top-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.grey > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.grey > a:hover {
    border: 1px solid #b3b3b3;
    border-bottom-color: transparent;
  }
}
.nn_tabs.top > ul.nav-tabs > li.gray > a,
.nn_tabs.top > ul.nav-tabs > li.gray > a:hover {
  border-top: 5px solid #b3b3b3;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs.top > ul.nav-tabs > li.gray > a:hover,
.nn_tabs.top > ul.nav-tabs > li.gray.active > a {
  border-top-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.gray > a,
  .nn_tabs.top.nn_tabs-responsive > ul.nav-tabs > li.gray > a:hover {
    border: 1px solid #b3b3b3;
    border-bottom-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs {
  border-bottom: 0;
  margin-bottom: 18px !important;
  border-top: 1px solid #dddddd;
}
.nn_tabs.bottom > .nav-tabs > li {
  margin-top: -1px !important;
  margin-bottom: 0 !important;
}
.nn_tabs.bottom > .nav-tabs > li > a {
  border-top-color: #dddddd;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nn_tabs.bottom > .nav-tabs > li > a:hover {
  border-color: transparent;
  border-top-color: #dddddd;
}
.nn_tabs.bottom > .nav-tabs > li.active > a,
.nn_tabs.bottom > .nav-tabs > li.active > a:hover {
  border-color: #dddddd;
  border-top-color: transparent;
}
.nn_tabs.bottom > .nav-tabs > li > a:focus,
.nn_tabs.bottom > .nav-tabs > li.active > a:focus {
  border-top-color: transparent;
  -webkit-box-shadow: 0 2px 2px rgba(234, 176, 63, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(234, 176, 63, 0.5);
  box-shadow: 0 2px 2px rgba(234, 176, 63, 0.5);
}
.nn_tabs.bottom > .nav-tabs > li.blue > a,
.nn_tabs.bottom > .nav-tabs > li.blue > a:hover {
  border-bottom: 5px solid #74b4e8;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.blue > a:hover,
.nn_tabs.bottom > .nav-tabs > li.blue.active > a {
  border-bottom-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.blue > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.blue > a:hover {
    border: 1px solid #74b4e8;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.primary > a,
.nn_tabs.bottom > .nav-tabs > li.primary > a:hover {
  border-bottom: 5px solid #74b4e8;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.primary > a:hover,
.nn_tabs.bottom > .nav-tabs > li.primary.active > a {
  border-bottom-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.primary > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.primary > a:hover {
    border: 1px solid #74b4e8;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.info > a,
.nn_tabs.bottom > .nav-tabs > li.info > a:hover {
  border-bottom: 5px solid #47b0cf;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.info > a:hover,
.nn_tabs.bottom > .nav-tabs > li.info.active > a {
  border-bottom-color: #24748c;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.info > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.info > a:hover {
    border: 1px solid #47b0cf;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.green > a,
.nn_tabs.bottom > .nav-tabs > li.green > a:hover {
  border-bottom: 5px solid #62bc62;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.green > a:hover,
.nn_tabs.bottom > .nav-tabs > li.green.active > a {
  border-bottom-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.green > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.green > a:hover {
    border: 1px solid #62bc62;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.success > a,
.nn_tabs.bottom > .nav-tabs > li.success > a:hover {
  border-bottom: 5px solid #62bc62;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.success > a:hover,
.nn_tabs.bottom > .nav-tabs > li.success.active > a {
  border-bottom-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.success > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.success > a:hover {
    border: 1px solid #62bc62;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.orange > a,
.nn_tabs.bottom > .nav-tabs > li.orange > a:hover {
  border-bottom: 5px solid #faa937;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.orange > a:hover,
.nn_tabs.bottom > .nav-tabs > li.orange.active > a {
  border-bottom-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.orange > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.orange > a:hover {
    border: 1px solid #faa937;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.warning > a,
.nn_tabs.bottom > .nav-tabs > li.warning > a:hover {
  border-bottom: 5px solid #faa937;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.warning > a:hover,
.nn_tabs.bottom > .nav-tabs > li.warning.active > a {
  border-bottom-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.warning > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.warning > a:hover {
    border: 1px solid #faa937;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.red > a,
.nn_tabs.bottom > .nav-tabs > li.red > a:hover {
  border-bottom: 5px solid #d3534c;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.red > a:hover,
.nn_tabs.bottom > .nav-tabs > li.red.active > a {
  border-bottom-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.red > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.red > a:hover {
    border: 1px solid #d3534c;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.danger > a,
.nn_tabs.bottom > .nav-tabs > li.danger > a:hover {
  border-bottom: 5px solid #d3534c;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.danger > a:hover,
.nn_tabs.bottom > .nav-tabs > li.danger.active > a {
  border-bottom-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.danger > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.danger > a:hover {
    border: 1px solid #d3534c;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.error > a,
.nn_tabs.bottom > .nav-tabs > li.error > a:hover {
  border-bottom: 5px solid #d3534c;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.error > a:hover,
.nn_tabs.bottom > .nav-tabs > li.error.active > a {
  border-bottom-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.error > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.error > a:hover {
    border: 1px solid #d3534c;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.grey > a,
.nn_tabs.bottom > .nav-tabs > li.grey > a:hover {
  border-bottom: 5px solid #b3b3b3;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.grey > a:hover,
.nn_tabs.bottom > .nav-tabs > li.grey.active > a {
  border-bottom-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.grey > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.grey > a:hover {
    border: 1px solid #b3b3b3;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom > .nav-tabs > li.gray > a,
.nn_tabs.bottom > .nav-tabs > li.gray > a:hover {
  border-bottom: 5px solid #b3b3b3;
  padding-bottom: 4px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nn_tabs.bottom > .nav-tabs > li.gray > a:hover,
.nn_tabs.bottom > .nav-tabs > li.gray.active > a {
  border-bottom-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.gray > a,
  .nn_tabs.bottom.nn_tabs-responsive > ul.nav-tabs > li.gray > a:hover {
    border: 1px solid #b3b3b3;
    border-top-color: transparent;
  }
}
.nn_tabs.bottom.outline_content > .tab-content {
  margin: 0;
  border: 1px solid #dddddd;
  border-bottom: none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nn_tabs.left > .nav-tabs,
.nn_tabs.right > .nav-tabs {
  border-bottom: 0;
  margin-bottom: 18px !important;
}
.nn_tabs.left > .nav-tabs > li,
.nn_tabs.right > .nav-tabs > li {
  float: none;
}
.nn_tabs.left > .nav-tabs > li > a,
.nn_tabs.right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0 !important;
  margin-bottom: 3px;
}
.nn_tabs.left.outline_content > .tab-content,
.nn_tabs.right.outline_content > .tab-content {
  border: 1px solid #dddddd;
}
.nn_tabs.left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #dddddd;
}
.nn_tabs.left > .nav-tabs > li {
  margin-right: -1px !important;
  margin-bottom: 0 !important;
}
.nn_tabs.left > .nav-tabs > li > a {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.nn_tabs.left > .nav-tabs > li > a:hover {
  border-color: transparent;
  border-right-color: #dddddd;
}
.nn_tabs.left > .nav-tabs > li.active > a,
.nn_tabs.left > .nav-tabs > li.active > a:hover {
  border-color: #dddddd;
  border-right-color: transparent;
}
.nn_tabs.left > .nav-tabs > li > a:focus,
.nn_tabs.left > .nav-tabs > li.active > a:focus {
  border-right-color: transparent;
  -webkit-box-shadow: -2px 0 2px rgba(234, 176, 63, 0.5);
  -moz-box-shadow: -2px 0 2px rgba(234, 176, 63, 0.5);
  box-shadow: -2px 0 2px rgba(234, 176, 63, 0.5);
}
.nn_tabs.left > .nav-tabs > li.blue > a,
.nn_tabs.left > .nav-tabs > li.blue > a:hover {
  border-left: 5px solid #74b4e8;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.blue > a:hover,
.nn_tabs.left > .nav-tabs > li.blue.active > a {
  border-left-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.blue > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.blue > a:hover {
    border: 1px solid #74b4e8;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.primary > a,
.nn_tabs.left > .nav-tabs > li.primary > a:hover {
  border-left: 5px solid #74b4e8;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.primary > a:hover,
.nn_tabs.left > .nav-tabs > li.primary.active > a {
  border-left-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.primary > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.primary > a:hover {
    border: 1px solid #74b4e8;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.info > a,
.nn_tabs.left > .nav-tabs > li.info > a:hover {
  border-left: 5px solid #47b0cf;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.info > a:hover,
.nn_tabs.left > .nav-tabs > li.info.active > a {
  border-left-color: #24748c;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.info > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.info > a:hover {
    border: 1px solid #47b0cf;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.green > a,
.nn_tabs.left > .nav-tabs > li.green > a:hover {
  border-left: 5px solid #62bc62;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.green > a:hover,
.nn_tabs.left > .nav-tabs > li.green.active > a {
  border-left-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.green > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.green > a:hover {
    border: 1px solid #62bc62;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.success > a,
.nn_tabs.left > .nav-tabs > li.success > a:hover {
  border-left: 5px solid #62bc62;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.success > a:hover,
.nn_tabs.left > .nav-tabs > li.success.active > a {
  border-left-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.success > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.success > a:hover {
    border: 1px solid #62bc62;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.orange > a,
.nn_tabs.left > .nav-tabs > li.orange > a:hover {
  border-left: 5px solid #faa937;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.orange > a:hover,
.nn_tabs.left > .nav-tabs > li.orange.active > a {
  border-left-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.orange > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.orange > a:hover {
    border: 1px solid #faa937;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.warning > a,
.nn_tabs.left > .nav-tabs > li.warning > a:hover {
  border-left: 5px solid #faa937;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.warning > a:hover,
.nn_tabs.left > .nav-tabs > li.warning.active > a {
  border-left-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.warning > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.warning > a:hover {
    border: 1px solid #faa937;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.red > a,
.nn_tabs.left > .nav-tabs > li.red > a:hover {
  border-left: 5px solid #d3534c;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.red > a:hover,
.nn_tabs.left > .nav-tabs > li.red.active > a {
  border-left-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.red > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.red > a:hover {
    border: 1px solid #d3534c;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.danger > a,
.nn_tabs.left > .nav-tabs > li.danger > a:hover {
  border-left: 5px solid #d3534c;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.danger > a:hover,
.nn_tabs.left > .nav-tabs > li.danger.active > a {
  border-left-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.danger > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.danger > a:hover {
    border: 1px solid #d3534c;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.error > a,
.nn_tabs.left > .nav-tabs > li.error > a:hover {
  border-left: 5px solid #d3534c;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.error > a:hover,
.nn_tabs.left > .nav-tabs > li.error.active > a {
  border-left-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.error > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.error > a:hover {
    border: 1px solid #d3534c;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.grey > a,
.nn_tabs.left > .nav-tabs > li.grey > a:hover {
  border-left: 5px solid #b3b3b3;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.grey > a:hover,
.nn_tabs.left > .nav-tabs > li.grey.active > a {
  border-left-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.grey > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.grey > a:hover {
    border: 1px solid #b3b3b3;
    border-right-color: transparent;
  }
}
.nn_tabs.left > .nav-tabs > li.gray > a,
.nn_tabs.left > .nav-tabs > li.gray > a:hover {
  border-left: 5px solid #b3b3b3;
  padding-left: 7px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nn_tabs.left > .nav-tabs > li.gray > a:hover,
.nn_tabs.left > .nav-tabs > li.gray.active > a {
  border-left-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.gray > a,
  .nn_tabs.left.nn_tabs-responsive > ul.nav-tabs > li.gray > a:hover {
    border: 1px solid #b3b3b3;
    border-right-color: transparent;
  }
}
.nn_tabs.left.outline_content > .tab-content {
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
}
.nn_tabs.right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #dddddd;
}
.nn_tabs.right > .nav-tabs > li {
  margin-left: -1px !important;
  margin-bottom: 0 !important;
}
.nn_tabs.right > .nav-tabs > li > a {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.nn_tabs.right > .nav-tabs > li > a:hover {
  border-color: transparent;
  border-left-color: #dddddd;
}
.nn_tabs.right > .nav-tabs > li.active > a,
.nn_tabs.right > .nav-tabs > li.active > a:hover {
  border-color: #dddddd;
  border-left-color: transparent;
}
.nn_tabs.right > .nav-tabs > li > a:focus,
.nn_tabs.right > .nav-tabs > li.active > a:focus {
  border-left-color: transparent;
  -webkit-box-shadow: 2px 0 2px rgba(234, 176, 63, 0.5);
  -moz-box-shadow: 2px 0 2px rgba(234, 176, 63, 0.5);
  box-shadow: 2px 0 2px rgba(234, 176, 63, 0.5);
}
.nn_tabs.right > .nav-tabs > li.blue > a,
.nn_tabs.right > .nav-tabs > li.blue > a:hover {
  border-right: 5px solid #74b4e8;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.blue > a:hover,
.nn_tabs.right > .nav-tabs > li.blue.active > a {
  border-right-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.blue > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.blue > a:hover {
    border: 1px solid #74b4e8;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.primary > a,
.nn_tabs.right > .nav-tabs > li.primary > a:hover {
  border-right: 5px solid #74b4e8;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.primary > a:hover,
.nn_tabs.right > .nav-tabs > li.primary.active > a {
  border-right-color: #2384d3;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.primary > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.primary > a:hover {
    border: 1px solid #74b4e8;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.info > a,
.nn_tabs.right > .nav-tabs > li.info > a:hover {
  border-right: 5px solid #47b0cf;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.info > a:hover,
.nn_tabs.right > .nav-tabs > li.info.active > a {
  border-right-color: #24748c;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.info > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.info > a:hover {
    border: 1px solid #47b0cf;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.green > a,
.nn_tabs.right > .nav-tabs > li.green > a:hover {
  border-right: 5px solid #62bc62;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.green > a:hover,
.nn_tabs.right > .nav-tabs > li.green.active > a {
  border-right-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.green > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.green > a:hover {
    border: 1px solid #62bc62;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.success > a,
.nn_tabs.right > .nav-tabs > li.success > a:hover {
  border-right: 5px solid #62bc62;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.success > a:hover,
.nn_tabs.right > .nav-tabs > li.success.active > a {
  border-right-color: #378137;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.success > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.success > a:hover {
    border: 1px solid #62bc62;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.orange > a,
.nn_tabs.right > .nav-tabs > li.orange > a:hover {
  border-right: 5px solid #faa937;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.orange > a:hover,
.nn_tabs.right > .nav-tabs > li.orange.active > a {
  border-right-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.orange > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.orange > a:hover {
    border: 1px solid #faa937;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.warning > a,
.nn_tabs.right > .nav-tabs > li.warning > a:hover {
  border-right: 5px solid #faa937;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.warning > a:hover,
.nn_tabs.right > .nav-tabs > li.warning.active > a {
  border-right-color: #c67605;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.warning > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.warning > a:hover {
    border: 1px solid #faa937;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.red > a,
.nn_tabs.right > .nav-tabs > li.red > a:hover {
  border-right: 5px solid #d3534c;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.red > a:hover,
.nn_tabs.right > .nav-tabs > li.red.active > a {
  border-right-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.red > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.red > a:hover {
    border: 1px solid #d3534c;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.danger > a,
.nn_tabs.right > .nav-tabs > li.danger > a:hover {
  border-right: 5px solid #d3534c;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.danger > a:hover,
.nn_tabs.right > .nav-tabs > li.danger.active > a {
  border-right-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.danger > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.danger > a:hover {
    border: 1px solid #d3534c;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.error > a,
.nn_tabs.right > .nav-tabs > li.error > a:hover {
  border-right: 5px solid #d3534c;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.error > a:hover,
.nn_tabs.right > .nav-tabs > li.error.active > a {
  border-right-color: #942a25;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.error > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.error > a:hover {
    border: 1px solid #d3534c;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.grey > a,
.nn_tabs.right > .nav-tabs > li.grey > a:hover {
  border-right: 5px solid #b3b3b3;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.grey > a:hover,
.nn_tabs.right > .nav-tabs > li.grey.active > a {
  border-right-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.grey > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.grey > a:hover {
    border: 1px solid #b3b3b3;
    border-left-color: transparent;
  }
}
.nn_tabs.right > .nav-tabs > li.gray > a,
.nn_tabs.right > .nav-tabs > li.gray > a:hover {
  border-right: 5px solid #b3b3b3;
  padding-right: 7px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nn_tabs.right > .nav-tabs > li.gray > a:hover,
.nn_tabs.right > .nav-tabs > li.gray.active > a {
  border-right-color: #808080;
}
@media (max-width: 767px) {
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.gray > a,
  .nn_tabs.right.nn_tabs-responsive > ul.nav-tabs > li.gray > a:hover {
    border: 1px solid #b3b3b3;
    border-left-color: transparent;
  }
}
.nn_tabs.right.outline_content > .tab-content {
  -webkit-border-radius: 4px 0 4px 4px;
  -moz-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
}
ul.nn-tabs-sm {
  display: none;
}
@media (max-width: 767px) {
  .nn_tabs-responsive > ul.nn-tabs-sm {
    display: block;
  }
  .nn_tabs-responsive > .nn_tabs {
    *zoom: 1;
  }
  .nn_tabs-responsive > .nn_tabs:before,
  .nn_tabs-responsive > .nn_tabs:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .nn_tabs-responsive > .nn_tabs:after {
    clear: both;
  }
  .nn_tabs-responsive > .nn_tabs > ul.nav-tabs {
    display: none;
  }
  .nn_tabs-responsive > .nn_tabs > .tab-content > .tab-pane {
    display: block;
    visibility: visible;
  }
  .nn_tabs-responsive > .nn_tabs > .tab-content > .tab-pane .nn_tabs-title {
    display: block;
  }
  .nn_tabs-responsive > .nn_tabs .fade {
    opacity: 1;
  }
  .nn_tabs-responsive > .nn_tabs.outline_content > .tab-content {
    border: none;
  }
  .nn_tabs-responsive > .nn_tabs.outline_content > .tab-content > .tab-pane {
    padding: 12px 0;
  }
}
@media print {
  .nn_tabs > .nav-tabs,
  .nn-tabs-sm {
    display: none !important;
  }
  .nn_tabs > .tab-content,
  .nn_tabs > .tab-content > .nn_tabs-pane {
    display: block !important;
    opacity: 1 !important;
  }
  .nn_tabs-title {
    display: block !important;
  }
}
