ul.ccomment-module,
ul.ccomment-module li {
	list-style: none !important;
	margin: 5px 0 !important;
	padding: 0 !important;
	background: none !important;
}
.ccomment_info {
	color: #4F4F4F;
	background: url('../images/background_username.png') no-repeat;
	padding-right: 5px;
	font-size: 11px;
}

ul.ccomment-module li {
	position:relative;
}
.ccomment_comment {
	margin: 3px;
}
.ccomment_date {
	color: #CCC;
	font-size: 11px;
}

ul.ccomment-module li .ccomment_date,
ul.ccomment-module li.ccomment_more {
	display: none;
}

ul.ccomment-module li:hover .ccomment_date {
	float: right;
	display: inline;
}
ul.ccomment-module li:hover .ccomment_more {
	display: block;
}

.ccomment_more {
	float: right;
}

ul.ccomment-module li .ccomment_more a {
	background: none !important;
	border: none !important;
}

ul.ccomment-module li span.ccomment_more a:hover,
ul.ccomment-module li span.ccomment_more a:active,
ul.ccomment-module li span.ccomment_more a:focus{
	background: none !important;
	border: none !important;
}

.ccomment_clear {
	clear: both;
}

ul.ccomment-module embed {
	width: 100%;
	height: 200px;
}