/**
 * Josetta - native multilingual manager for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     josetta
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     2.4.3.723
 * @date		2015-12-23
 */
.josetta_button_container {
	width: 80%;
	margin: 0 auto;
}

.josetta_button {
	text-align: center;
	cursor: default;
	margin-bottom: 2px;
	width: 4em;
}

.josetta_button:hover {
	color: #ffffff;
}

/* #C3D9FF */
.josetta_button {
  cursor:pointer;
	background-color: #B9D8E0;
	-moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
	border: 1px solid #C3D9FF;
	display: inline-block;
	/*color: #ffffff;*/
	color: black;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 12px;
	text-decoration: none;
}

.josetta_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff) );
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff' );
	background-color: #378de5;
}

.josetta_button:active {
	position: relative;
	top: 1px;
}