/**
 * Josetta - native multilingual manager for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     josetta
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     2.4.3.723
 * @date		2015-12-23
 */
.josettaitems {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

.josettadesc {
    width: 45%;
    float: left;
}

.josettaoptions {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    width: 30%;
}

.josettaMainoptions {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    width: auto;
}

span.josettaLanguageBadge {
    background-color: silver;
    padding: 0.2em;
    margin-right: 0.15em;
    margin-left: 0.15em;
    border-radius: 0.2em;
    cursor: default;
}

.refform {
    display: none;
}

.fleft {
    width: 35%;
    float: left;
}

.copy {
    width: 7%;
    float: left;
}

.fright {
    width: 55%;
    float: right;
}

.toolbar-list {
    float: right;
    padding: 0;
    text-align: right;
}

.toolbar-list ul {
    margin: 0;
    padding: 0;
}

.toolbar-list {
    text-align: right;
}

.toolbar-list li {
    color: #666666;
    float: left;
    height: 48px;
    list-style: none outside none !important;
    padding: 1px 1px 3px 4px;
    text-align: center;
}

.toolbar-list span {
    display: block;
    float: none;
    height: 48px;
    margin: 0 auto;
    width: 48px;
}

.toolbar-list span.icon-32-apply, .toolbar-list span.icon-32-save, .toolbar-list span.icon-32-preview, .toolbar-list span.icon-32-cancel, .toolbar-list span.icon-32-dissociate {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}

form#adminForm div#toolbar.toolbar-list ul {
    padding: 0;
    margin: 0;
}

form#adminForm {
    padding-top: 0px;
}

.icon-32-delete {
    background-image: url(../images/toolbar/icon-32-delete.png);
}

.icon-32-cancel {
    background-image: url(../images/toolbar/icon-32-cancel.png);
}

.icon-32-apply {
    background-image: url(../images/toolbar/icon-32-apply.png);
}

.icon-32-save {
    background-image: url(../images/toolbar/icon-32-save.png);
}

.icon-32-preview {
    background-image: url(../images/toolbar/icon-32-preview.png);
}

.icon-32-edit {
    background-image: url(../images/toolbar/icon-32-component.png);
}

.icon-32-dissociate {
    background-image: url(../images/toolbar/icon-32-dissociate.png);
}

.toolbar-list a {
    border: none;
    cursor: pointer;
    display: block;
    float: left;
    padding: 1px 5px;
    white-space: nowrap;
    text-decoration: none;
}

.toolbar-list a:hover {
    text-decoration: underline;
}

div#toolbar.toolbar-list ul li#toolbar-edit.button {
    background: none;
    text-decoration: none;
}

div#toolbar.toolbar-list ul li#toolbar-edit.button a:hover, div#toolbar.toolbar-list ul li#toolbar-edit.button a:active, div#toolbar.toolbar-list ul li#toolbar-edit.button a:focus {
    color: inherit;
}

div#toolbar.toolbar-list ul li#toolbar-apply.button a:hover, div#toolbar.toolbar-list ul li#toolbar-save.button a:hover, div#toolbar.toolbar-list ul li#toolbar-popup-preview a:hover, div#toolbar.toolbar-list ul li#toolbar-cancel.button a:hover, div#toolbar.toolbar-list ul li#toolbar-dissociate.button a:hover {
    background: none;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

div#toolbar.toolbar-list ul li#toolbar-apply.button a:focus, div#toolbar.toolbar-list ul li#toolbar-save.button a:focus, div#toolbar.toolbar-list ul li#toolbar-popup-preview a:focus, div#toolbar.toolbar-list ul li#toolbar-cancel.button a:focus, div#toolbar.toolbar-list ul li#toolbar-dissociate.button a:focus {
    background: none;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

div#toolbar.toolbar-list ul li#toolbar-apply.button a:active, div#toolbar.toolbar-list ul li#toolbar-save.button a:active, div#toolbar.toolbar-list ul li#toolbar-popup-preview a:active, div#toolbar.toolbar-list ul li#toolbar-cancel.button a:active, div#toolbar.toolbar-list ul li#toolbar-dissociate.button a:active {
    background: none;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

.josettalist td.center, th.center, .center {
    float: none;
    text-align: center;
}

.josettalist th {
    text-align: center;
}

.josettalist ul {
    list-style-type: none !important;
}

.josettalist ul li {
    float: left;
}

.josettalist .limit, .josettalist .counter {
    float: left;
    height: 1em;
    line-height: 1em;
    margin: 0 10px;
}

.josettalist td, .josettalist tr, .josettalist th {
    border: none;
    padding: 3px;
}

tr.josetta-row-0 {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

table.josettalist thead {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.jseditor {
    width: 100%;
}

.jsfield {
    width: 85%;
    float: left;
}

.josetta_float_left {
    float: left;
}

.josetta_float_right {
    float: right;
}

.jta_vertical_center {
    display: inline-block;
    vertical-align: middle;
}

div.josetta-modal fieldset div.josetta_float_right {
    vertical-align: baseline;
}

div.josetta-modal fieldset div.josetta_float_right input, div.josetta-modal fieldset div.josetta_float_right textarea, div.josetta-modal fieldset div.josetta_float_right select, div.josetta-modal fieldset div.josetta_float_right img, div.josetta-modal fieldset div.josetta_float_right button {
    float: right;
}

fieldset.filter-bar {
    padding: 0.2em;
}

fieldset.language-toolbar {
    padding-top: 0.2em;
    padding-bottom: 1.4em;
}

fieldset.josetta_items_filters, fieldset.josetta_standard_filters {
    border: 1px solid #C3D9FF;
}

@media screen and (max-width: 1280px) {

    .josetta_items_filters {
        float:left;
    }
}

.josetta_levels_display {
    color: #ccc;
}

table.josetta_form_field_container {

}

td.josetta_form_field_original {
    width: 25%;
    vertical-align: top;
    border: 1px solid #ccc;
}

td.josetta_form_field_buttons {
    width: 10%;
    vertical-align: top;
}

td.josetta_form_field_translation {
    text-align: left;
    vertical-align: top;
}

.josetta-frontend-footer-container {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

tr.josetta_modal_item {
    cursor: pointer;
}

tr.josetta_modal_item a {
    color: #666666;
    text-decoration: none;
}

table.adminlist tbody tr {
    cursor: pointer;
}

/* ++++++++++++++  pagination  ++++++++++++++ */
div .josetta-pagination-container {
    float: left;
    width: 100%;
}

table.josettalist .pagination {
    float: left;
    padding: 0;
    margin: 0 auto;
}

.pagination div.limit {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}

.pagination div.limit select#limit {
    width: 50px;
}

/* -- BUTTON STYLES ----------------------------- */

/* Pagination on backend */
.button1, .button1 div {
    height: 1%;
    float: right;
}

.button2-left, .button2-right, .button2-left div, .button2-right div {
    float: left;
}

.button1 {
    white-space: nowrap;
    padding-left: 10px;
    margin-left: 5px;
}

.button1 .next {

}

.button1 a {
    display: block;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 1.091em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 0 35px 0 6px;
}

.button1 a:hover {
    text-decoration: none;
    color: #0B55C4;
}

.button2-left a, .button2-right a, .button2-left button, .button2-right button, .button2-left span, .button2-right span {
    display: block;
    height: 22px;
    float: left;
    line-height: 22px;
    font-size: 1em;
    color: #333;
    cursor: pointer;
}

.button2-left span, .button2-right span {
    cursor: default;
    color: #999;
}

.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span, .button2-left .blank a, .button2-right .blank a, .button2-left .blank span, .button2-right .blank span, .button2-left .blank button, .button2-right .blank button {
    padding: 0 6px;
}

.page span, .blank span {
    color: #000;
    font-weight: bold;
}

.button2-left a:hover, .button2-right a:hover, .button2-left button:hover, .button2-left button:hover {
    text-decoration: none;
    color: #0B55C4;
}

.button2-left a, .button2-left span, .button2-left button {
    padding: 0 24px 0 6px;
}

.button2-right a, .button2-right span, .button2-right button {
    padding: 0 6px 0 24px;
}

.button2-left {
    float: left;
    margin-right: 10px;
}

a.pointer {
    cursor: pointer;
}

button {
    margin-top: 4px;
    background: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    background: #E8F6FE;
    text-decoration: none;
    border: 1px solid #aaa;
}

div.button2-left button {
    background: transparent;
    margin-top: 0;
    border: 0 solid #ccc;
}

div.button2-left button {
    background: transparent;
    border: 0 solid #aaa;
}

.jta-ajax-loading {
    background-image: url(../images/sh-ajax-loader-wide.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

span.list-flag {
    display: inline-block;
    width: 25px;
}

.jta-cursor-default, .toolbar-list a.jta-cursor-default {
    cursor: default;
    text-decoration: none;
}

.jta-cursor-pointer, .toolbar-list a.jta-cursor-pointer {
    cursor: pointer;
    text-decoration: none;
}

.jta-cursor-pointer, .toolbar-list a:focus.jta-cursor-pointer, .toolbar-list a:hover.jta-cursor-pointer {
    text-decoration: underline;
}

a.jta-modified:after {
    content: ' *';
}

.josetta-filter-wrapper {
    display: inline-block;
}