/**
 * Josetta - native multilingual manager for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     josetta
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     2.4.3.723
 * @date		2015-12-23
 */
 
/* -- TAB STYLES ----------------------------- */
dl.tabs {
  float: left;
  margin: 10px 0 -1px 0;
  z-index: 50;
}

dl.tabs dt {
  float: left;
  padding: 4px 10px;
  border: 1px solid #ccc;
  margin-left: 3px;
  background: #e9e9e9;
  color: #666;
}

dl.tabs dt.open {
  background: #F9F9F9;
  border-bottom: 1px solid #f9f9f9;
  z-index: 100;
  color: #000;
}

div.current {
  clear: both;
  border: 1px solid #ccc;
  padding: 10px 10px;
}

div.current dd {
  padding: 0;
  margin: 0;
}

dl#content-pane.tabs {
  margin: 1px 0 0 0;
}

/* Tab changes for accessibility */
dl.tabs dt h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

dl.tabs dt h3 a:link {
  color:#333333;
  outline:medium none;
  text-decoration:none;
}

dt.tabs span.josettaLanguageBadge {
	padding-top: 0;
	padding-bottom: 0;
}
