/**
 * Josetta - native multilingual manager for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     josetta
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     2.4.3.723
 * @date		2015-12-23
 */

.josetta_clr {
  clear: both;
  overflow: hidden;
  height: 0;
}

/* -- TAB STYLES ----------------------------- */
.tabs a {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	font-size: 0.7em;
}

.tabs legend {
	float: left;
}

ul.menu-links {
	list-style-type: none;
	margin-top: 1em;
	font-weight: normal;
}

ul.menu-links label {
  font-weight: normal;
}

li.menu-link {
  margin-top: 0.5em;
}

dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border: 1px solid #ccc;
	margin-left: 3px;
	background: #e9e9e9;
	color: #666;
}

dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #f9f9f9;
	z-index: 100;
	color: #000;
}

/* -------- Menu Assigments ---------- */
div#menu-assignment {
	clear: left;
}

div#menu-assignment input,div#menu-assignment h3 {
	clear: left;
	padding-bottom: 0;
	margin-bottom: 0;
}

div#menu-assignment ul.menu-links {
	float: left;
	width: 49%;
}

div#menu-assignment ul.menu-links li:last-child label {
	margin-bottom: 20px;
}

fieldset.adminform .menu-links label {
	white-space: nowrap;
}

fieldset.adminform .menu-links input {
	margin: 8px 5px 0 0;
}

button.jform-rightbtn {
	float: right;
	margin-right: 0;
}

li#jform_menutype_label {
	float: left;
	clear: left;
}

fieldset.adminform fieldset.radio {
	border: 0;
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	/* clear: right; */
}

fieldset.adminform fieldset.radio label {
	min-width: 60px;
	padding-left: 0;
	padding-right: 10px;
	float: left;
	clear: none;
	/*width: 40px;*/
	display: inline;
}

/* checkboxes */
fieldset.adminform fieldset.checkboxes {
	border: 0;
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	clear: right;
}

fieldset.adminform fieldset.checkboxes input[type="checkbox"] {
	float: left;
	clear: left;
}

fieldset.adminform fieldset.checkboxes label,fieldset.adminform fieldset.checkboxes span.faux-label
	{
	clear: right;
}

/* end checkboxes */

