/**
 * Josetta - native multilingual manager for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     josetta
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     2.4.3.723
 * @date		2015-12-23
 */
/* -- TOOLBAR STYLES ----------------------------- */

/* Page titles */
div.josetta-main-toolbar {
	padding-left: 120px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

div.josetta-main-toolbar h2 {
	line-height: 48px;
	font-size: 2em;
	font-weight: bold;
	color: #146295;
	margin: 0;
	padding: 0;
}

div.josetta-main-toolbar span {
	color: #666;
}

div.josetta-main-toolbar {
	background-image:
		url(../../../../../media/com_josetta/images/josetta-translation-manager-logo-48.png);
}

icon-48-josetta-main-toolbar {
    background-image:
        url(../../../../../media/com_josetta/images/josetta-translation-manager-logo-48.png);
}

#JosettaFooter {
	margin: 20px auto 4px;
	text-align: center;
}

.cpanel-container {
	float: left;
	width: 100%;
	margin: 0.2em;
}

.cpanel-block {
	font-size: 1.1em;
	float: left;
	margin-bottom: 1em;
}

.josetta-cpanel-left-block {
	float: left;
	width: 39%;
	margin-right: 1%;
}

.josetta-cpanel-right-block {
	float: right;
	width: 60%;
}

.josetta-cpanel-bottom-block {
	clear: both;
	float: left;
	width: 100%;
}

.josetta-log-container {
	margin-top: 18px; /* match Joomla slider */
	border: 1px solid #ccc;
}

.josetta-log-lines {
	margin: 1em;
}

.josetta-stats-container {
	border: 1px solid #ccc;
}

.josetta-footer-container {
	clear: both;
	width: 100%;
	padding-top: 0.9em;
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
	width: 100%;
}

h3.josetta-cpanel-block-title {
	margin-left: 2px;
	padding-left: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 1.4em;
	color: #025A8D;
	background-repeat: no-repeat;
	background-image:
    url(../../../../../media/com_josetta/images/icon-josetta-32x32.png);
    
    
}

hr.josetta-cpanel-block-title {
	background: none repeat scroll 0 0 #DDDDDD;
	border: medium none;
	clear: both;
	color: #DDDDDD;
	float: none;
	height: 1px;
	margin: 0 0 1.5em;
	width: 100%;
}

/* -- Statistics table -- */
table.josetta-stats-table {
	width: 95%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	border-collapse: collapse;
}

td.josetta-stats-table-content-title {
	width: 50%;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-right: 10px;
	text-align: right;
}

td.josetta-stats-table-count-title {
	width: 50%;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding-left: 1px;
}

td.josetta-stats-table-content {
	text-align: right;
	border-bottom: 1px solid #ccc;
	font-size: 1.1em;
}

td.josetta-stats-table-count {
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding-left: 5px;
	font-weight: bold;
	font-size: 1.1em;
}

td.josetta-stats-table-total {
	border-bottom: none;
	padding-left: 5px;
	font-weight: bold;
}

td.josetta-stats-table-total-title {
    border-bottom: none;
    text-align: right;
    padding-left: 5px;
    font-weight: bold;
}

.josetta_hide {
	display: none;
}

.josetta_show {
	display: inherit;
}

h3.josetta-red span {
	color: red;
}

table.josetta_update {
	border-spacing: 1px;
	color: #666666;
	width: 100%;
	font-size: 0.9em;
	border-collapse: collapse;
}

table.josetta_update thead {
	background-color: #F3F3F3;
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}

table.josetta_update td {
	border: 1px solid #ccc;
	padding: 4px 2px 4px 5px;
}

table.josetta_update td.celltitle {
	width: 30%;
}

table.josetta_update td.cellvalue {
	
}

.icon-32-import { background-image: url(../images/icon-32-import.png); }
.icon-32-export { background-image: url(../images/icon-32-export.png); }

#sbox-btn-close {display: none;}

#sbox-window.josetta-popup {
  background-color:   grey;
}

#sbox-overlay.josetta-popup {
  background-color:   grey;
}
