/**
 * Josetta - native multilingual manager for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     josetta
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     2.4.3.723
 * @date		2015-12-23
 */
html {
	overflow-y: auto;
}

.josetta-popup #content-box {
	border: 1px solid #ccc;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.josetta-popup #toolbar-box {
	padding: 0;
	margin: 10px;
}

.icon-48-josetta {
	background-image: url(../images/icon-josetta-48x48.png);
}

.icon-32-next {
	background-image: url(../images/icon-32-next.png);
}

.icon-32-previous {
	background-image: url(../images/icon-32-previous.png);
}

.icon-32-cancel {
	background-image: url(../images/icon-32-cancel-wizard.png);
}

.icon-32-terminate {
	background-image: url(../images/icon-32-terminate.png);
}

div.josetta-toolbar-title {
	font-size: 22px;
	font-weight: bold;
	color: #0B55C4;
	line-height: 48px;
	padding-left: 53px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

div.headerconfirm {
	font-size: 22px;
	font-weight: bold;
	color: #0B55C4;
	line-height: 48px;
	padding-left: 10px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.josetta-popup td.key {
	text-align: right;
}

.sh-ajax-loading {
	background-image: url(../images/sh-ajax-loader-wide.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#sh-message-box ul {
	color: #0055BB;
	background-position: 4px top;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	list-style: none;
	padding: 10px;
	border-top: 3px solid #84A7DB;
	border-bottom: 3px solid #84A7DB;
	background-color: #C3D2E5;
	background-image: url(../images/notice-info.png);
}

#sh-error-box ul {
	color: #c00;
	background-position: 4px top;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	list-style: none;
	padding: 10px;
	border-top: 3px solid #84A7DB;
	border-bottom: 3px solid #84A7DB;
	background-color: #E6C0C0;
	background-image: url(../images/notice-alert.png);
	border-color: #DE7A7B;
}

div.josetta-popup .btn-toolbar {
    text-align: right;
}
