/**
 * Stylesheet for Element: Text Area Plus
 *
 * @package         NoNumber Framework
 * @version         12.9.8
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

.textarea_wrapper {
	display: inline-block;
	/* For IE */
	zoom: 1;
	width: auto;
	*display: inline;
}
.textarea_handle {
	background: #E9E9E9 url(handle.png) no-repeat bottom right;
	height: 12px;
	width: auto;
	border: 1px solid #E9E9E9; /* To match style of textarea so auto width works correctly */
	cursor: nw-resize;
}
.textarea_wrapper textarea {
	margin: 0;
	overflow: auto;
}

body.dragging,
body.dragging * {
	cursor: nw-resize !important;
}