/**
 * @package         Cache Cleaner
 * @version         4.3.1PRO
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

div.btn-group.cachecleaner {
	margin-left:  12px;
	margin-right: 6px;
}

/* message */
#cachecleaner_msg,
#cachecleaner_msg.visible {
	display: none;
}

body > #cachecleaner_msg {
	position:         fixed;
	top:              0;
	right:            0;
	padding:          7px 20px;
	width:            100%;
	min-height:       16px;
	text-align:       center;
	font-weight:      bold;
	color:            #ffffff;
	background-color: #666666;
	z-index:          2000;
}

body > #cachecleaner_msg a {
	color: #cccccc;
}

body > #cachecleaner_msg.visible {
	display: inline;
}

body > #cachecleaner_msg.btn-success {
	background-color: #46a546;
}

body > #cachecleaner_msg.btn-warning {
	background-color: #f89406;
}

body > #cachecleaner_msg.btn-danger {
	background-color: #9d261d;
}

body > #cachecleaner_msg img {
	vertical-align: sub;
}

/* Make status position show on mobile */
@media (max-width: 767px) {
	#status.hidden-phone {
		display:    block !important;
		text-align: center;
		.pull-right {
			float:   none;
			display: block;
		}
	}
}
