/* Magazine */
.homepage .container_12 .grid_8 { width:51%; }
.homepage .container_12 .grid_4 { width:44%; }

/* Hiding sidebar on Authors */
.itemid-109 .container_12 .grid_8 { width:100%; float:none; }
.itemid-109 .container_12 .grid_4 { display:none; }

#title sup{font-size: 12px;margin-left:2px;}

/* =============================== COMPONENTS =============================== */

/* (description) (floating image with text) */
div.descText { }

/* (weblinks) (categories) */
div.weblinksContainer { }
ul.weblinksCategoriesList { }
ul.weblinksCategoriesList li { }
ul.weblinksCategoriesList li a.weblinksCategoryLink { }

/* (weblinks) (category) */
div.weblinksItemsContainer { }
table th img { border:0; margin-left:4px; }
span.weblinkIcon { }
span.weblinkDescription { }
ul.weblinksOtherCategoriesList { }
ul.weblinksOtherCategoriesList li { }
ul.weblinksOtherCategoriesList li a { }
ul.weblinksOtherCategoriesList li a span { }

/* (user) (logout) */
form.userForms { }

/* (newsfeeds) */
.newsfeedContainer { }
span.feedImage { }

/* (polls) */
.pollContainer { }
.pollGraphContainer { }

/* (contact) */
.contactContainer { }
#component-contact { margin-right:12px; width:40%; float:left; }
.contactContainer .contactDetailsContainer { margin:0 10px 10px 0; width:40%; float:left; }
.contactImage { }

/* (edit) */
.editForm { }
.editForm fieldset { }
.editForm label { }
.editForm input.inputbox { }
.editForm textarea.inputbox { }
.editForm button { }

/* (search)(component) */
fieldset.searchAgain { padding:12px; -moz-border-radius:5px; -webkit-border-radius:5px; }
fieldset.searchAgain input.inputbox { padding:5px 10px; font-size:18px; }
fieldset.searchAgain .button { font-size:18px; padding:4px 8px; }

/* (content) (items page) */
.frontpageView { }
.sectionView { }
.categoryView { }
.itemsPage { }
.itemPage { }
.leading { margin-bottom:12px; }
.leading .itemBox { }
div.componentheading { margin-bottom:12px; color:#849aae; border-bottom:1px solid #d0cece; font:bold 16px/20px "Trebuchet MS", sans-serif, Verdana; }
h2.contentheading { }
.introItem { margin-bottom:20px; }
.introItem .itemBox { padding-right:20px; }
.last .itemBox { padding-right:0; }
.introItem h2.contentheading { }
.itemTextIntro { }
.itemTextFull { position:relative; }
span.createdate { }
span.modifydate { border-top:1px dashed #ccc; }
a.readon { }
a.readon:hover { }

/* (modules) */
.module { margin-bottom:12px; padding-bottom:1px; }
.module .m_a { }
.module .m_b { }
.module .m_c { }
.module .moduleContent { padding:0 8px 8px; }
.frontpage .split .moduleContent ul { width:200px; float:left; margin:0!important; }
.frontpage .split .moduleContent ul { border-right:1px dashed #DDD; }
.frontpage .split .moduleContent ul.rightList { border:0; width:212px; }
.frontpage .split .moduleContent ul.rightList li { margin:0 0 0 8px; }
.frontpage .split .moduleContent ul.menu { width:auto; float:none; border:none; }

/* (Topics)(module)(mod_k2_tools) */
.frontpage .joinUs { padding-bottom:0; }
.frontpage .joinUs .moduleContent { background:url(../images/modules/join-to-contribute-bg.gif) no-repeat 0 100%; }

/* delete */
.topics { background:none; margin-bottom:0; padding-bottom:0; }
.topics .moduleContent { padding:2px 0; }
.topics .moduleContent ul { margin:0!important; padding:0; list-style:none; }
.topics .moduleContent ul li { display:block; margin:0 10px 0 0; padding:0; border-bottom:1px solid #EEE; }
.topics .moduleContent ul li a { }
.topics .moduleContent ul li a { display:block; padding:5px 16px 4px 5px; line-height:1.3; }
.topics .moduleContent ul li.last a { border:0; }
.frontpage .topics .moduleContent ul li.first a { border:0; }
.topics .moduleContent ul li a:hover { text-decoration:none; color:#21759b; }
.topics .moduleContent ul li a { text-transform:uppercase; font-weight:bold; color:#22415c; font-size:12px; }
.topics .moduleContent ul li a span { display:block; text-transform:none; font-weight:normal; color:#50728f; }
.topics .moduleContent ul dl { display:block; margin:0 0 8px!important; padding:3px 8px; }
.topics .moduleContent ul li dl dd { display:block; list-style:none; margin:1px 8px; padding:0 8px; }
.topics .moduleContent ul li dl a:link,.topics .moduleContent ul li dl a:visited,.topics .moduleContent ul li dl a:hover { display:list-item; list-style:disc; text-transform:none; font-weight:normal; color:#50728f; background:none; padding:1px 0 4px; border:0; line-height:1.1; }
.topics .moduleContent ul li dl a:hover { color:#D96F0F; }

/* become An Author (module) */

/*

.becomeAnAuthor a { display: block; padding: 20px 20px 20px 50px; color:#fff; background: #50728f url(../images/cog.gif) no-repeat 12px 50%;text-transform: uppercase; }

.becomeAnAuthor a:link, .becomeAnAuthor a:visited { color:#fff; font-size: 22px; line-height: 24px; text-decoration: none; }

.becomeAnAuthor a:hover { background-color:#738fa7;}

*/

/* become An Author (module) ( 2 modules)*/
.niceMessage { 
/* JS replace */
}
.becomeAnAuthor { width:50%; float:left; height:100px; }
.becomeAnAuthor a { display:block; padding:10px 10px 10px 50px; color:#fff; background:#50728f url(../images/pencil.png) no-repeat 12px 50%; text-transform:uppercase; }
.w75 a { background:#1f3145 url(../images/cog.gif) no-repeat 12px 50%; }
.becomeAnAuthor a:link,.becomeAnAuthor a:visited { color:#fff; font-size:18px; line-height:24px; text-decoration:none; }
.becomeAnAuthor a:hover { background-color:#738fa7; }

/* author Login Link (module) */
.authorLogin a { display:block; padding:10px 20px 9px 40px; color:#fff; background:#50728f url(../images/lock.gif) no-repeat 12px 50%; text-transform:uppercase; }
.authorLogin a:link,.authorLogin a:visited { color:#fff; font-size:20px; line-height:24px; text-decoration:none; }
.authorLogin a:hover { background-color:#738fa7; }
.descText img { display:none; }
#com-form-login #username,#com-form-login #password { clear:left; display:block; margin-bottom:5px; }
#com-form-login .button { margin-top:5px; }

/* (About Topic)(module)(mod_k2_tools) */
.aboutTopic h3.moduleTitle { }
.aboutTopic .moduleContent p.learnTopic a { background:url(../images/modules/topics-arrows.gif) no-repeat scroll 100% 50% transparent; border-top:1px solid #D0CECE; display:block; font-family:"Trebuchet MS",sans-serif,Verdana; color:#22415C; font-weight:bold; text-transform:uppercase; line-height:1.75; padding:5px 16px 4px 0; }
.aboutTopic .moduleContent p.learnTopic { margin-bottom:0; }

/* (issues)(module)(mod_k2_tools) */
.issues { background:none!important; }
.issues .m_c { background:url(../images/modules/mod-top-bg.gif) repeat-x scroll 0 -29px; }

/*.issues h3.moduleTitle { background-image: url(../images/modules/icon-issue.jpg);}*/
.issues .k2ItemsBlock { padding:1px; background:url(../images/modules/issuesBottomBg.gif) no-repeat 100% 100%; height:98px; overflow:hidden; }
.issues ul { margin:0!important; padding:0!important; float:left; border-right:1px dashed #50728f; }
.issues ul li { padding:8px!important; margin:0!important; height:82px; overflow:hidden; }
.issues ul li a.moduleItemCategory { padding:0; display:block; font:bold 22px/24px "Trebuchet MS", sans-serif, Verdana; color:#fff; text-align:center; letter-spacing:-1px; text-transform:uppercase; }
.issues ul li a.moduleItemCategory:hover { color:#fff; text-decoration:none; }
.issues a.moduleCustomLink span { display:none; }

/* issues frontpage */
.frontpage #page .s2 .issues ul li { background:#50728f url(../images/modules/issuesCurrent.gif) no-repeat 8px 8px!important; width:200px!important; }
.frontpage #page .s2 .issues ul li a.moduleItemCategory { margin:46px 0 0; }
.frontpage #page .s2 .issues .customLink { background:url(../images/modules/issuesPrevious1.gif) no-repeat 0 0!important; float:left; margin:8px 18px; padding:60px 0 0; width:167px!important; }
.frontpage #page .s2 .issues a.moduleCustomLink { background:url(../images/modules/issuesPrevious2.gif) no-repeat 50% 0!important; display:block; height:19px; }

/* issues inner pages */
.s2 .issues ul li { background:#50728f url(../images/modules/issuesCurrentInnerPages.gif) no-repeat 8px 8px; width:137px; }
.s2 .issues ul li a.moduleItemCategory { margin:42px 0 0; }
.s2 .issues .customLink { background:url(../images/modules/issuesPreviousInnerPages1.gif) no-repeat 0 0; float:left; margin:8px 10px; padding:50px 0 0; width:132px; }
.s2 .issues a.moduleCustomLink { background:url(../images/modules/issuesPreviousInnerPages2.gif) no-repeat 50% 0; display:block; height:33px; }

/* (authors)(module)(mod_k2_tools) */
.authors { clear:both; }
.authors h3.moduleTitle { }
.authors .moduleContent { padding:5px; }
.frontpage .authors .moduleContent .k2UsersBlock ul { width:200px; float:left; margin:0 10px 12px 0; }
.frontpage .authors .moduleContent .k2UsersBlock ul { border-right:1px dashed #DDD; }
.frontpage .authors .moduleContent .k2UsersBlock ul.rightList { border:0; width:200px; margin:0 0 12px 10px; }
.frontpage .authors .moduleContent ul li { height:70px; border-bottom:1px solid #EEE; }
.authors .moduleContent ul li { margin:0 10px 0 0; padding:5px 0; display:block; border-bottom:1px dashed #ddd; }
.authors .moduleContent ul.rightList li { margin:0; }
.authors .moduleContent ul li.lastItem { border-bottom:0; }
.authors .moduleContent .k2UsersBlock ul { display:block; margin:0; padding:0; list-style:none; }
.authors .moduleContent ul.rightList li { }
.authors .moduleContent ul li a.ubUserAvatar { display:block; float:left; padding:0; margin:2px 5px 0 0; width:46px; height:46px; overflow:hidden; border:2px solid #ddd; overflow:hidden; background:#ddd; -moz-border-radius:6px; -webkit-border-radius:6px; }
.authors .moduleContent ul li a.ubUserAvatar img { width:46px!important; height:auto!important; }
.authors .moduleContent ul li { font:normal 12px/14px "Trebuchet MS", sans-serif, Verdana; }
.authors .moduleContent ul li h2 { padding:0; margin:0; text-transform:uppercase; color:#000; font:bold 14px/14px "Trebuchet MS", sans-serif, Verdana; }
.authors .moduleContent ul li p { font-size:12px; margin:0; }

/* Testing a new layout for authors */
.authorsPreview { }
.authorsPreview ul { margin:0; padding:0; }
.authorsPreview ul li { padding:0; margin:0 3px 3px 0; width:80px; height:80px; display:block; float:left; position:relative; }
.authorsPreview ul li a.authorPageLink { width:80px; height:80px; }
.authorsPreview ul li a.authorPageLink .authorSmallAvatar { display:block; width:80px; height:80px; overflow:hidden; }
.authorsPreview ul li .authorBaloon { display:none; position:absolute; top:-16px; left:-16px; background:#fff; border:2px solid #ddd; padding:12px; width:140px; }
.authorsPreview ul li.sfhover span.authorBaloon { display:block; z-index:999; }
.authorsPreview ul li span.authorBaloon img { border:2px solid #ddd; margin-bottom:4px; }
.authorsPreview ul li .ubUserDescription { padding:3px 0; margin:0; line-height:normal; }
.authorsPreview ul li h4 { margin:1px 0; line-height:18px; }

/* Join us (menu) */
.joinUsLink,.joinUsLink .m_a,.joinUsLink .m_b,.joinUsLink .m_c { background:none; }
.joinUsLink .moduleContent { background:url(../images/join-link-bg-310px.jpg) no-repeat -5px 0; padding:0;}
.frontpage .joinUsLink .moduleContent { background:url(../images/join-link-bg-422px.jpg) no-repeat 0 0; }
.joinUsLink ul.menu { border:0; padding:0; margin:0; }
.joinUsLink ul.menu li { display:block; padding:0; margin:0; height:50px; overflow:hidden; list-style:none; }
.joinUsLink ul.menu li a { display:block; height:50px; }
.joinUsLink ul.menu li a span { line-height:590px; }

/* Grab the JCM Banners (custom HTML) */
.grabTheJCMBanners,.grabTheJCMBanners .m_a,.grabTheJCMBanners .m_b,.grabTheJCMBanners .m_c { background:none; padding:0; margin:0; }
.grabTheJCMBanners .moduleContent { padding:0 0 12px; margin:0; }

/* (author logged in)(module)(mod_k2_tools) */
.authorBlock { padding:6px 5px 16px; margin-bottom:12px; position:relative; }
.moduletableauthorBlock { padding:10px; margin-bottom:10px; }
div.k2UserBlock { }
div.k2UserBlock p.k2ModuleBoxUser { padding:0; margin:0; float:left; }
div.k2UserBlock p img { float:left; border:2px solid #fff; -moz-border-radius:3px; -webkit-border-radius:3px; background:#ccc; margin:0 5px 0 0; }
div.k2UserBlock p a:hover img { border-color:#50728f; }
div.k2UserBlock p span.ubName { }
div.k2UserBlock ul { display:block; margin:0; padding:12px 6px 4px; }
div.k2UserBlock ul li { display:inline; list-style:none; margin:0 8px 0 0; }
div.k2UserBlock ul li a { }
div.k2UserBlock ul li a:hover { }
div.k2UserBlock span.ubCommentsCount { display:block; white-space:nowrap; }
div.k2UserBlock form { display:inline; float:right; }
div.k2UserBlock form button { background:url(../images/logoutBtn.gif) no-repeat 0 0; border:0; position:absolute; top:0; right:12px; width:40px; height:32px; display:block; cursor:pointer; }
div.k2UserBlock form button span { display:none; }

/* (feeds) (module) */
.joomlaFeeds { position:relative; }
.joomlaFeeds h3.moduleTitle { background-image:url(../images/modules/icon-feeds.jpg); margin-bottom:-35px; }
.joomlaFeeds h3.moduleTitle span { float:none; margin-right:0; }
.joomlaFeeds .moduleContent { 
/*height: 236px; overflow: hidden;*/
padding:1px; }
.joomlaFeeds ul { margin:0; padding:0; }
.joomlaFeeds .mooTabs { }
.joomlaFeeds .mooTabs .mooTabsNavigation { margin:0 0 12px 44px; padding:0 8px 0 0; }
.joomlaFeeds .mooTabsNavigation { border-bottom:0 solid #8fa6bb; }
.joomlaFeeds .mooTabsNavigation li a { line-height:23px; background:url(../images/tabs/tab-active-bg.gif) repeat-x 0 0; padding:3px 5px; color:#fff; font-weight:bold; }
.joomlaFeeds .mooTabsNavigation { display:block; text-align:right; margin:1px; }
.joomlaFeeds .mooTabsNavigation li a.active { padding:3px 5px 4px; background:#fff; color:#1f2f3d; }
.joomlaFeeds .mooTabsContent { margin:1px; 
/*height: 200px; overflow-y: auto;*/
}
.joomlaFeeds .mooTabsContent ul.srfrList { display:block; padding:5px 12px; }
.joomlaFeeds .mooTabsContent ul.srfrList li { display:block; padding:6px 0; margin:0; list-style:none; border-top:1px solid #d0cece; }
.joomlaFeeds .mooTabsContent ul.srfrList li p { margin:0; padding:0; color:#50728f; }
.joomlaFeeds .mooTabsContent ul.srfrList li h6 { margin:0; font-weight:bold; }
.joomlaFeeds .mooTabsContent ul.srfrList li h6 a { color:#22415c; }
.joomlaFeeds .mooTabsContent ul.srfrList li { }
.joomlaFeeds .srfrFeedItemDate { display:block; text-transform:uppercase; color:#50728f; font-family:"Trebuchet MS", sans-serif, Verdana; }
.joomlaFeeds .srfrReadMore a { font-weight:bold; color:#1f2f3d; }

/* (About Magazine) (module) */
#extraBlocks .module { color:#e5e9ee; }
#extraBlocks .module h3.mTitle { background:none; color:#fff; font-size:20px; display:block; padding:5px 0; height:auto; border-bottom:1px solid #50728f; margin:0 0 6px; }
#extraBlocks .moduleContent { line-height:1.5; margin:0; padding:0; }
#extraBlocks .moduleContent p,#extraBlocks .moduleContent ul,#extraBlocks .moduleContent ul li { margin:0; padding:0; }
#extraBlocks .moduleContent ul li { }
#extraBlocks .aboutJoomla ul ul { display:block; padding:0 12px; margin:10px 0; }
#extraBlocks .aboutJoomla ul ul li { display:inline; line-height:33px; font-size:18px; }
#extraBlocks .aboutJoomla ul ul li a.moreAboutJoomla { width:151px; height:33px; overflow:hidden; line-height:200px; float:left; background:url(../images/button-get-started.gif) no-repeat 0 0; margin:0 10px; }
#extraBlocks .aboutJoomla ul ul li a.getTheLatestVersion { width:171px; height:33px; overflow:hidden; line-height:200px; float:right; background:url(../images/button-latest-version.gif) no-repeat 0 0; margin:0 10px; }
.aboutMagazine,.aboutJoomla,.tagCloud { background:none; }

/* (Latest videos) (module) */
.latestVideos { margin-bottom:20px; background:#45627c; border:1px solid #111; }
.latestVideos .m_a { background:none; }
.latestVideos .m_b { background:none; }
.latestVideos .m_c { background:none; }
.latestVideos h3.moduleTitle { display:block; margin:0; padding:5px 0 2px 10px; font-size:18px; border-bottom:1px solid #111; }
.latestVideos h3.moduleTitle span { color:#fff; text-shadow:1px 1px 1px #000; border-right:0; display:block; width:auto; text-transform:uppercase; }
.latestVideos .moduleContent { padding:0; }
.latestVideos .videoEntry,.latestVideos .videoEntry a { color:#cedeee; }
.latestVideos .videoEntry .moduleItemVideo { padding:10px; }
.latestVideos .videoEntry .moduleItemVideo span.avPlayerSubContainer { display:block; padding:0; background:none; width:400px!important; height:300px!important; }
.latestVideos .videoEntry .moduleItemVideo span.avPlayerSubContainer object { width:400px!important; height:300px!important; }
.latestVideos .videoEntry .avLightbox { color:#cedeee; line-height:1.0; }
.latestVideos .videoEntry .videoTextElements { padding:5px 20px 20px; display:none; }
.latestVideos .videoEntry h5 { padding:2px 0; margin:0; font-size:16px; line-height:1.4; }
.latestVideos .videoEntry h5 a { color:#fff; }
.latestVideos .videoEntry .moduleItemAuthorLink { color:#cedeee; }
#sidebar2 .avPlayerWrapper .avPlayerContainer { max-width:99%; }
#sidebar2 .avPlayerWrapper .avPlayerContainer iframe { max-width:100%; }

/* (ads) (module) */
.adBox,.adBox .m_a,.adBox .m_b,.adBox .m_c { background:none; }
.adBox .moduleContent { padding:0; }
.adBox { width:auto; margin:0 8px 8px 0; }
.size125left { float:left; }
.size125right { float:left; margin-right:0; }

/* (flickr)(module) */
.gallery { margin-bottom:12px; background:#ecedee url(../images/modules/gallery-bg.jpg) repeat-x 0 0; padding:0; }
.gallery .m_a { background:none; }
.gallery .m_b { background:none; }
.gallery .m_c { background:none; }
.gallery h3.moduleTitle { background-image:url(../images/modules/icon-gallery.jpg); }
.gallery h3.moduleTitle span { border:0; background:url(../images/modules/gallery-h3-span-bg.jpg) repeat-x 0 0; }
div.mod_flickr ul { margin:0; padding:0; list-style-type:none; }
div.mod_flickr li { float:left; margin:10px 8px 0; list-style-image:none; display:block; }
div.mod_flickr li a { text-decoration:none; display:block; background:url(../images/modules/gallery-li-bg.png) no-repeat 0 0; width:75px; height:208px; padding:11px 17px 0; }
div.mod_flickr li a img { display:block; margin-bottom:58px; }
div.mod_flickr li a span { font-size:11px; line-height:1.1; text-align:center; display:block; }
div.mod_flickr .hr { }

/* JB JFlickr Module*/
.module.gallery .moduleContent .gallery-flickr li { float:left; margin:10px 8px 0; list-style-image:none; display:block; }
.module.gallery .moduleContent .gallery-flickr li a { text-decoration:none; display:block; background:url(../images/modules/gallery-li-bg.png) no-repeat 0 0; width:75px; height:158px; padding:11px 17px 0; }

/* (We Reccomend) (module) */
.weReccomendArea { position:relative; padding:30px 0 0; background:url(../images/modules/mod-top-bg.gif) repeat-x 0 1px; margin-bottom:20px; }
.weReccomendArea .rcmnd_a { background:url(../images/modules/dotted-line-vert.gif) repeat-y 50% 0; }
.weReccomendArea .rcmnd_b { border-left:1px solid #000; border-right:1px solid #000; }
.weReccomendArea .rcmnd_c { background:url(../images/modules/arrow_btm.gif) no-repeat 50% 100%; }
.weReccomendArea .rcmnd_d { background:url(../images/modules/arrow_top.gif) no-repeat 50% 0; }
.weReccomendArea h3.moduleTitle { position:absolute; top:0; left:0; height:54px; margin:0; background-image:url(../images/modules/icon-weReccomend.jpg); background-repeat:no-repeat; background-position:0 0; padding:0 0 0 47px; font-size:18px; }
.weReccomendArea h3.moduleTitle span { color:#fff; padding:16px 12px 0 9px; border-right:2px solid #fff; display:block; height:38px; float:left; width:auto; background:url(../images/modules/mod-h3-span-bg.jpg) repeat-x 0 0; text-transform:uppercase; }
.weReccomendArea .threebox { margin:0; float:left; width:50%; background:none; }
.weReccomendArea .threebox h3.mTitle { background:none; display:block; padding:5px 0; line-height:14px; height:auto; color:#d96f0f; border-bottom:1px solid #ccc; margin:40px 18px 8px; text-transform:uppercase; font-size:15px; }
.weReccomendArea .threebox .srfrFeedItemDate { text-transform:uppercase; color:#50728f; font-family:"Trebuchet MS", sans-serif, Verdana; }
.weReccomendArea ul.srfrList li h6 { margin:0; font-weight:bold; }
.weReccomendArea ul.srfrList li h6 a { color:#22415c; }
.weReccomendArea .threebox .m_c { background:url(../images/modules/mod-top-bg.gif) repeat-x 0 0; }
.weReccomendArea .threebox .moduleContent { background:none; padding:0; }
.weReccomendArea .threebox .moduleContent ul { margin:2px 18px 10px; padding:0; list-style:none; }
.weReccomendArea .threebox .moduleContent ul li { display:block; margin:0; padding:0; list-style:none; }
.weReccomendArea .threebox a .srfrImage { float:left; width:120px; height:auto; margin:0 12px 0 0; padding:0; }

/* (breadCrumbs)(module) */
span.breadcrumbsText { }
span.pathway { }
span.pathway img { }
a.pathway { }
a.pathway:hover { }

/* Lang (module) */
.moduletablelang { background:#feffff; 
/* Old browsers */
background:0; 
/* FF3.6+ */
background:0 color-stop(100%,#d2ebf9)); 
/* Chrome,Safari4+ */
background:0; 
/* Chrome10+,Safari5.1+ */
background:0; 
/* Opera11.10+ */
background:0; 
/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff',endColorstr='#d2ebf9',GradientType=0); 
/* IE6-9 */
background:linear-gradient(top,#feffff0%,#d2ebf9100%); 
/* W3C */
border:1px solid #d2ebf9; padding:5px; margin:5px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin-bottom:20px; }
.moduletablelang select { width:85%; margin-left:10px; }
.lang br { display:none; }
.lang select { float:right; }
.lang a { float:left; }

/* (mainmenu)(module) */
#jmMenu ul { list-style-type:none; display:block; text-align:right; padding:0 16px 0 0; margin:0; }
#jmMenu ul li { display:inline; padding:0; margin:0; }
#jmMenu ul li a { font:bold 16px/40px "Trebuchet MS", sans-serif, Verdana; color:#0078c9; padding:10px 26px 12px 13px; background:url(../images/menu-sep.jpg) no-repeat 100% 0; text-transform:lowercase; }
#jmMenu ul li.active a { color:#000; }

/* (flashnews) */
.newsflashHorizItem { padding:0 10px 10px 0; }

/* (menu) (table) */
#menu table { }
#menu td { }
#menu td a { padding:2px 7px; }
#menu td a:hover { }
#menu a#active_menu-nav { }

/* (footer menu) (module) */
#footer ul { padding:3px 0; margin:0; list-style:none; }
#footer li { display:inline; margin:0; padding:0 10px 0 0; }

/* (tooltips)(plugin) */
div.tool-tip { float:left; padding:5px; max-width:200px; z-index:13000; }
div.tool-title { padding:0; margin:0; font-size:95%; font-weight:bold; }
div.tool-text { font-size:90%; margin:0; padding:3px 5px; }

/* (page navigation)(plugin) */
div.limitBox { }
dl.pageNavigationContainer { display:block; padding:10px 10px 20px; margin:0 0 10px; }
.mg dl.pageNavigationContainer { }
.mg .frontpage dl.pageNavigationContainer { }
dl.pageNavigationContainer dd { display:inline; }
dd.pagesLinks { }
dd.pageCounter span { font-weight:bold; font-size:11px; line-height:15px; padding:2px 4px; margin:0 2px; }
span.pagination { }
span.pagination span { font-weight:bold; font-size:11px; line-height:15px; padding:2px 4px; margin:0 2px; }
span.pagination a,.pagenav a { font-weight:bold; font-size:11px; line-height:15px; padding:2px 4px; margin:0 2px; }
span.pagination a:hover,.pagenav a:hover { font-weight:bold; font-size:11px; line-height:15px; padding:2px 4px; margin:0 2px; }
span.pagination span.paginationDummy { border:none; }

/* (pagenav)(plugin)(sorry, can't override) */
.pagenavbar a { font-weight:bold; font-size:11px; line-height:15px; padding:2px 4px; margin:0 2px; }
.pagenavcounter { display:block; float:right; position:absolute; right:0; font-weight:bold; padding:3px; margin:5px 12px 18px 0; }
table.pagenav th,table.pagenav td { border:0; padding:0; margin:0; background:none; width:auto!important; }
span.content_rating { margin:10px 0 0; display:block; }
span.content_rating img { padding:0 2px; }
.content_vote { margin:0 0 10px; display:block; }
.content_vote input { margin:0 5px; }
.content_vote .button { }

/* (print-email)(component) */
body.contentpane { padding:0; margin:0; background-image:none; }
.closeWindowLink { padding-right:25px; background:url(../images/close-x.png) no-repeat 100% 0; }

/* (offline)(system) */
body.offline #frame { margin:60px auto; width:400px; padding:20px; }
body.offline #frame h1 { font-size:24px; text-align:center; margin:0; padding:0 0 6px; line-height:normal; }
body.offline #frame h3 { font-size:12px; text-align:center; margin:0; padding:0 0 12px; line-height:normal; }
body.offline #frame form { text-align:left; }
body.offline .outline { border:8px solid #ccc; background:#fff; padding:8px; }
body.offline form { margin:auto; }
body.offline form fieldset.input label { display:block; font-size:32px; line-height:normal; height:auto; }
body.offline form fieldset.input input.inputbox { width:98%; font-size:32px; line-height:normal; height:auto; }

/* (messages)(system) */
#system-message { padding:0; margin:0 0 20px; font-size:120%; }
#system-message dt { display:none; }
#system-message dd { margin:0; font-weight:bold; padding:10px; }
#system-message dd ul { margin:0; list-style:none; padding:0; }

/* (system) (debug) */
#system-debug { background-color:#fff; padding:10px; margin:10px; white-space:pre; }
.profiler { padding:12px; margin:12px; }

/* (editor frontend)(system) */
body.edit fieldset { display:block; padding:5px; margin:0 0 10px; border:0; }
body.edit fieldset legend { display:block; padding:8px 12px; margin:0; font-size:20px; }
#editorForm { padding:20px 30px; margin-bottom:30px; }

/* Buttons */
#editor-xtd-buttons { padding:5px; }
.button2-left,.button2-right,.button2-left div,.button2-right div { float:left; }
.button2-left a,.button2-right a,.button2-left span,.button2-right span { display:block; height:22px; float:left; line-height:22px; font-size:11px; color:#666; cursor:pointer; }
.button2-left span,.button2-right span { cursor:default; color:#999; }
.button2-left .page a,.button2-right .page a,.button2-left .page span,.button2-right .page span { padding:0 6px; }
.page span { color:#000; font-weight:bold; }
.button2-left a:hover,.button2-right a:hover { text-decoration:none; color:#0B55C4; }
.button2-left a,.button2-left span { padding:0 24px 0 6px; }
.button2-right a,.button2-right span { padding:0 6px 0 24px; }
.button2-left { background:url(../images/j_button2_left.png) no-repeat; float:left; margin-left:5px; }
.button2-right { background:url(../images/j_button2_right.png) 100% 0 no-repeat; float:left; margin-left:5px; }
.button2-left .image { background:url(../images/j_button2_image.png) 100% 0 no-repeat; }
.button2-left .readmore { background:url(../images/j_button2_readmore.png) 100% 0 no-repeat; }
.button2-left .pagebreak { background:url(../images/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2-left .blank { background:url(../images/j_button2_blank.png) 100% 0 no-repeat; }

/* --- */

/* Caption fixes */
.img_caption.left { float:left; margin-right:12px; }
.img_caption.right { float:right; margin-left:12px; }
.img_caption.left p { clear:left; text-align:center; }
.img_caption.right p { clear:right; text-align:center; }

/* Calendar */
a img.calendar { width:16px; height:16px; margin-left:3px; background:url(../images/calendar.png) no-repeat; cursor:pointer; vertical-align:middle; }

/* wireframe */
.module { }
div.catItemView { padding:0; }
div.catItemView div.catItemViewWrap { padding:10px 10px 0; }
.itemView { padding:0 0 0 20px; }

/* ----------- LIST ITEMS PAGES --------------------- (MAGAZINE) */

/* Leading */
.mg #itemListLeading { padding-bottom:10px; margin-bottom:6px; }
.mg #itemListLeading .catItemView,.moduletableauthorBlock { background:#ebf2f7; min-height:69px; border:1px solid #c0d3e0; -moz-box-shadow:0 2px 3px #CCC; -webkit-box-shadow:0 2px 3px #CCC; box-shadow:0 2px 3px #CCC; }
.mg #itemListLeading .catItemView { position:relative; padding-bottom:40px; }
.mg #itemListLeading .catItemView .catItemHeader { margin:0; position:absolute; bottom:0; height:34px; overflow:hidden; width:570px; }

/* Title (leading) */
.mg #itemListLeading .catItemTitle { margin-bottom:0; display:block; padding:0; font:bold 24px/28px "Trebuchet MS", sans-serif, Verdana; }
.mg #itemListLeading .catItemTitle a { color:#162d41; text-shadow:0 1px 0 #FFF; }

/* Title (primary) */
.mg #k2Container .catItemTitle { margin-bottom:0; display:block; padding:2px 0 6px; font:bold 20px/22px "Trebuchet MS", sans-serif, Verdana; }
.mg .catItemTitle a { color:#22415c; text-shadow:0 1px 0 rgba(255,255,255,0.95); }

/* Text (leading)*/
.mg #itemListLeading .catItemIntroText { color:#50728f; }

/* Text (primary)*/
.mg .catItemIntroText { color:#50728f; font-family:"Trebuchet MS",sans-serif,Verdana; }

/* Tags */
.catItemTags { color:#50728f; line-height:30px; }
.catItemTags a:link,.catItemTags a:visited { color:#22415c; font-weight:bold; }

/* Read more */
a.k2ReadMore:link,a.k2ReadMore:visited { font:bold 14px/22px "Trebuchet MS", sans-serif, Verdana; color:#22415c; }

/* Primary */
.mg #itemListPrimary { margin-bottom:10px; border:1px solid #CCC; -moz-box-shadow:0 2px 3px #CCC; -webkit-box-shadow:0 2px 3px #CCC; box-shadow:0 2px 3px #CCC; }
.mg #itemListPrimary .catItemView .catItemViewWrap { padding-bottom:2px; }
.mg #itemListPrimary .catItemView { background:#ecedee; border-bottom:1px solid #CCC; border-top:1px solid #FFF; }
.mg #itemListPrimary div.catItemView { padding:0; }
.mg div.itemContainer { float:none; }
.mg div .hasPagination #itemListPrimary { background:none; margin-bottom:0; padding-bottom:0; }
.mg #itemListPrimary .itemContainerLast .catItemView { background:#ecedee; }
.mg #itemListPrimary .itemContainerFirst .catItemViewWrap { background:none!important; }
.mg .catItemBody { padding-bottom:0; }

/* Rss */
#k2Container .k2FeedIcon,#k2ContainerGeneric .k2FeedIcon { position:relative; padding-bottom:13px; }
#k2Container .k2FeedIcon a,#k2ContainerGeneric .k2FeedIcon a { display:block; float:right; font-size:11px; position:absolute; top:-20px; right:14px; }
#k2ContainerGeneric div.k2FeedIcon a,#k2ContainerGeneric div.k2FeedIcon a:hover { width:auto; background:url(../../../components/com_k2/images/fugue/feed.png) no-repeat 0 50%!important; }
#k2ContainerGeneric div.k2FeedIcon a span,#k2ContainerGeneric div.k2FeedIcon a:hover span { display:block; padding-left:20px; }

/* Dates */
div.catItemView span.catItemDateCreated { padding:6px 3px; margin-right:10px; line-height:16px; border:2px solid #849aae; display:block; float:left; width:60px; height:18px; background:#849aae; color:#eff5fa; text-align:center; font-size:12px; font-weight:bold; -moz-box-shadow:0 1px 0 rgba(255,255,255,0.25) inset, 0 1px 0 rgba(255,255,255,0.75); -webkit-box-shadow:0 1px 0 rgba(255,255,255,0.25) inset, 0 1px 0 rgba(255,255,255,0.75); box-shadow:0 1px 0 rgba(255,255,255,0.25) inset, 0 1px 0 rgba(255,255,255,0.75); text-shadow:0 -1px 0 #000; }
div.catItemView span.catItemDateCreated big { font-size:20px; line-height:18px; float:left; display:block; text-align:center; letter-spacing:-1px; width:20px; padding:2px; }
div.catItemView span.catItemDateCreated small { font-size:10px; line-height:10px; float:right; width:22px; padding:2px; text-align:center; text-transform:uppercase; }

/* Dates (leading) */
#itemListLeading span.catItemDateCreated { background:#22374d; border-color:#22374d; }

/* Item Header */
div.catItemHeader { color:#638099; margin:-11px 0 10px; }
div.catItemHeader span.catItemAuthor { font:bold 12px/34px "Trebuchet MS", sans-serif, Verdana; padding:0 6px 0 0; display:inline; }
div.catItemHeader span.catItemAuthor a { color:#22415c; }
div.catItemHeader .linkToComment { font:bold 12px/34px "Trebuchet MS", sans-serif, Verdana; line-height:34px; color:#d96f0f; font-weight:bold; padding:0 0 0 6px; }
#itemListLeading div.catItemHeader .linkToComment { color:#0078c9; }

/* Images (leading, primary) */
span.catItemImage { float:left; }
.catItemImage a img { float:left; padding:0; border:2px solid #50728f; margin:0 12px 0 0; }

/* ----------- FRONTPAGE LIST ITEMS PAGE ----------- */
.frontpage #itemListLeading { }
.frontpage #itemListLeading .catItemView .catItemHeader { width:450px; }
.frontpage #itemListPrimary { }
.frontpage #itemListPrimary .catItemView { background:#ecedee; border-bottom:1px solid #CCC; border-top:1px solid #FFF; }
.frontpage #itemListPrimary .catItemView .catItemViewWrap { padding-bottom:2px; }

/* ----------- ITEM PAGE --------------------- (MAGAZINE) */

/* Path */
.mg .magazinePagePath { border-bottom:1px solid #d0cece; margin-bottom:12px; padding:4px 0; }
.mg .magazinePagePath .issueCategory,.mg .magazinePagePath .issueCategory a { color:#50728f; text-transform:uppercase; }
.mg .magazinePagePath .issueTags a { color:#0078c9; font-style:italic; }

/* Ads */
.itemView .googleAdManager { margin:10px 0; text-align:center; }

/* Title (item page) */
.mg .itemHeader { }
.mg h1.itemTitle { display:block; font-weight:bold; padding:4px 0; margin:5px 0; word-spacing:-2px; }
.mg .itemHeader .itemAuthor { display:inline; }

/* TeamEase */
div.teamEase .itemHeader { padding:6px 12px 12px 98px; background:url(../images/teamEaseLogo.png) no-repeat 0 6px; }
div.teamEase .itemHeader h1 { color:#0D6DAB; font-size:30px; }
.mg .itemAuthorBlock { background:#ebf2f7; padding:6px 5px 16px; margin-bottom:12px; position:relative; padding:2px 20px 20px 120px; min-height:120px; margin-top:10px; -moz-box-shadow:0 2px 3px #CCC; -webkit-box-shadow:0 2px 3px #CCC; box-shadow:0 2px 3px #CCC; }
.mg .itemAuthorBlock .itemAuthorAvatar { position:absolute; top:10px; left:10px; }
.mg .itemAuthorBlock .itemAuthorAvatar { width:80px; height:auto; }
.mg .itemAuthorBlock .even,.mg .itemAuthorBlock .odd { background:none; border-bottom:0; }

/* Tabs */
/*
#content ul.jwts_tabbernav { padding:6px; }
#content ul.jwts_tabbernav li a { padding:5px 12px; font:normal 12px/15px "Trebuchet MS", sans-serif, Verdana; background:#09669F; color:#fff; border-color:#09669F; }
#content ul.jwts_tabbernav li.jwts_tabberactive a { background:#fff; color:#09669F; border-color:#c8c8c8; border-bottom-color:#fff; }
#content ul.jwts_tabbernav li { }
#content .jwts_tabberlive { background:#f5f5f5; padding:20px; }
#content .jwts_tabbertab { border-color:#c8c8c8; border-left:0; border-right:0; background:#fff; padding:0 20px 20px; }
*/

/* Item summary */
p.sum,span.sum,div.sum { padding:30px 12px 12px; font:italic 15px/22px "Trebuchet MS", sans-serif, Verdana; color:#555; display:block;  border-bottom:2px solid #c8c8c8; }

/* Item Difficulty Level (k2 plugin) */
.itemLevel { display:block; width:100px; height:100px; float:right; background-repeat:no-repeat; background-position:0 0; overflow:hidden; }
.itemLevel span { line-height:600px; }
.levelBeginner { background-image:url(../images/levelBeginner.gif); }
.levelAdvanced { background-image:url(../images/levelAdvanced.gif); }
.levelIntermediate { background-image:url(../images/levelIntermediate.gif); }
.Beginner { background-image:url(../images/levelBeginner.gif); }
.Advanced { background-image:url(../images/levelAdvanced.gif); }
.Intermediate { background-image:url(../images/levelIntermediate.gif); }

/* Images (item page) */
.itemImageBlock { padding:12px 0; }

/* item toolbar */
.mg div.itemToolbar { padding:5px; margin:10px 0; border-top:1px solid #EEE; border-bottom:1px solid #EEE; background:none; }
.mg div.itemToolbar ul { float:right; width:auto; line-height:28px; margin:0!important; }
.mg div.itemToolbar ul li { border-left:0; }
.mg div.itemToolbar ul li:first-of-type { border-right:1px solid #EEE; }

/* Text (item page) */
#mainContentArea .lang_khmer .itemIntroText,.itemIntroText { padding-bottom:12px; font:italic bold 16px/1.5 "Trebuchet MS", sans-serif, Verdana; color:#22415c!important; }
.mg .itemIntroText,.mg .itemIntroText p { font:italic bold 18px/1.5 "Trebuchet MS", sans-serif, Verdana; color:#22415c; }
#mainContentArea .lang_khmer .itemIntroText p,.itemIntroText p { font:italic bold 16px/1.5 "Trebuchet MS", sans-serif, Verdana; color:#22415c!important; }
.itemFullText { margin-bottom:16px; }
.itemFullText,.itemFullText p { font:normal 14px/1.5 "Trebuchet MS", sans-serif, Verdana; }

/* Attachments */
.itemSocialLinksBlock { margin-bottom:12px; }

/* Attachments (item page)*/
div.itemAttachmentsBlock { }
div.itemAttachmentsBlock h3 { 
/*display: block; padding: 5px 5px 5px 40px; margin: 0 0 5px; background: url(../images/downloads-icon.gif) no-repeat 5px 0;*/
}
div.itemAttachmentsBlock ul.itemAttachments { display:block; padding:40px; margin:0 0 20px; background:#f3f3f3; }
div.itemAttachmentsBlock ul.itemAttachments li { display:block; list-style:none; margin:0; padding:3px 5px 3px 30px; border-bottom:1px solid #d0cece; }
div.itemAttachmentsBlock ul.itemAttachments li a { color:#010202; font-size:14px; }
div.itemAttachmentsBlock ul.itemAttachments li a:hover { text-decoration:none; color:#50728f; }
div.itemAttachmentsBlock ul.itemAttachments li span { float:right; color:#50728f; margin:2px 0 0; }

/* Read also */
.readAlso ul { margin:0; padding:0; }
.readAlso ul li { display:block; list-style:none; padding:5px 0; margin:5px 0; }
.readAlso ul li img { float:left; margin:0 12px 12px 0; }

/* Comments (item page) */
.itemCommentsForm { padding:12px; border:1px solid #e7e7e7; background:#f5f5f5; -moz-border-radius:5px; -webkit-border-radius:5px; }
ol.itemCommentsList { background:#f5f5f5; list-style:none; margin:0; padding:0; border-top:1px solid #dfdfdf; }
ol.itemCommentsList li { display:block; padding:12px 0 16px; margin:0; border-top:1px solid #fff; border-bottom:1px solid #DFDFDF; }
ol.itemCommentsList li.odd { background:#f9f9f9; }
.commentLeft { float:left; width:49px; }
.commentRight img { width:40px!important; height:auto!important; }
.commentRight { margin-left:56px; }
.itemCommentsList p { padding:0; margin:0; font:normal 13px/1.6 "Trebuchet MS", sans-serif, Verdana; }
.commentNumber { display:block; padding:4px; text-align:center; font:bold 30px/1 Arial; color:#777; }
.commentAuthorName { font-size:24px; }
.commentDate { color:#638099; }

/* Back to Top Link */
.itemBackToTop { padding:20px 0; }

/* ----------- ITEMS PAGES --------------------- (FAQ) */
.faq .itemListView .catItemViewWrap { padding:0 10px 12px 5px; margin-bottom:12px; border-bottom:1px solid #ddd; }
.faq .subCategory { border:1px solid #ddd; }
.faq .subCategory:hover { background:#f9f9f9; }
.faq h4.catItemTitle a:visited { color:#8bb2c4!important; }

/* ----------- ITEM PAGE --------------------- (FAQ) */
.faq h1.itemTitle { font-size:22px; line-height:26px; color:#d96f0f; }
.faq div.itemToolbar { height:30px; padding:0; margin:2px 0 12px; }
.faq div.itemToolbar ul { line-height:28px; }
.faq div.itemToolbar ul { text-align:left; }
.faq .itemFullText,.faq .itemFullText p { font:normal 15px/1.5 "Trebuchet MS", sans-serif, Verdana; }

/* Tag Page (generic.php) */
#k2ContainerGeneric div.catItemView span.catItemDateCreated { float:none; }

/* Subcategories */
.mg .itemListSubCategories { margin-bottom:15px; }

/* CS */
.mg .subCategoryContainer { margin:0 8px 8px 0; background:#ebf2f7; width:198px!important; }
.mg div.subCategory { border:0; margin:0; padding:0; height:auto!important; }
.mg .subCategoryInner { background:url(../images/modules/issuesBottomBg.gif) no-repeat 100% 100%; padding:1px; mgsubcategorycontainerm_cbackground:url(../images/modules/mod-top-bg.gif) repeat-x 0 -29px; }
.mg .subCategoryInner h2 { font-size:12px; margin:15px 0; padding:50px 0 0; background:url(../images/issuesBg.gif) no-repeat 50% 0; text-align:center; }
.mg .subCategoryInner h2 a { font:bold 24px/28px "Trebuchet MS",sans-serif,Verdana; color:#22374d; text-transform:uppercase; }
.mg .subCategoryInner h3 { font:bold 12px/16px "Trebuchet MS",sans-serif,Verdana; color:#22374d; text-align:center; display:block; margin:0 0 15px; }

/* Users Page (user.php) */
body.view-users .usersView { }
body.view-users .usersView .usersSep { border-bottom:1px solid #D0CECE; margin-bottom:12px; }
body.view-users .userContainer { margin-bottom:8px; }
body.view-users .userContainer .usersBlock { border-right:1px dotted #e4e4e4; min-height:230px; padding:8px 0; }
body.view-users .lastInTheRow .usersBlock { border:0; }
body.view-users .userContainer .usersBlock p.avatarHolder { display:block; text-align:center; width:80px; height:80px; margin:0 auto; border:2px solid #ddd; overflow:hidden; background:#ddd; -moz-border-radius:6px; -webkit-border-radius:6px; }
body.view-users .userContainer .usersBlock p.avatarHolder img { }
body.view-users .userContainer .usersBlock h4 { display:block; text-align:center; font-size:20px; }
body.view-users .userContainer .usersBlock h4 a { color:#000; }
body.view-users .usersBlock .userDescription { font-size:11px; padding:8px; color:#888; text-align:center; }
body.view-users .usersBlock .userAdditionalInfo { padding:4px 0; margin:0; }
body.view-users .usersBlock span.userURL { display:block; text-align:center; }
body.view-users .usersBlock span.userURL a { font-size:11px; color:#0078C9; max-width:200px; overflow:hidden; display:block; margin:0 auto; }
body.view-users .usersBlock span.userEmail { font-weight:bold; color:#555; display:block; }
body.view-users .usersBlock .userExtendedFields h3 { display:none; }
body.view-users .usersBlock .usersExtendedFields { text-align:center; }
body.view-users .usersBlock .userExtendedFields { text-align:center; width:auto!important; overflow-x:visible; white-space:nowrap; margin:0 auto; }
body.view-users .usersBlock .userExtendedFields .userExtendedFieldsSocialProfiles { display:inline-block; float:none; }
body.userTask .userBlock { padding-bottom:20px; }
body.userTask .userBlock img { float:left; }
body.userTask .userInformationBlock { margin-left:100px; }
body.userTask .userBlock h4 { font-size:20px; }
body.userTask .userBlock h4 a { color:#000; }
body.userTask .userBlock .userDescription { padding:8px 0; color:#888; }
body.userTask .userBlock .userAdditionalInfo { padding:4px 0; margin:0; }
body.userTask .userBlock span.userURL { }
body.userTask .userBlock span.userURL a { color:#0078C9; }
body.userTask .userBlock span.userEmail { font-weight:bold; color:#555; }
body.userTask .userBlock .userExtendedFields h3 { font-size:13px; font-weight:bold; }
body.userTask .userExtendedFields { }

/* User Groups */
body.view-usergroup div.usersView div.userContainer {float:left;}
body.view-usergroup div.usersView div.userContainer div.userBlock {height:250px;overflow:auto;margin:4px !important;}
body.view-usergroup div.usersView div.userContainer div.userBlock h4 {font-size:16px !important;}

/* gTranslate Module */
.module.lang .moduleContent { padding-bottom:4px; }
.module.lang .moduleContent a.flag { position:relative; top:10px; left:5px; }
.module.lang .moduleContent select { margin:0; position:relative; left:27px; top:-11px; }

/* Author Resources */
.mg #itemListLeading div.aResources { float:left; }
.aResources .catItemHeader { display:none; }
.mg #itemListLeading div.aResources .catItemView { padding-bottom:5px; }
.aResources h3.catItemTitle { margin-top:0; padding-top:15px; }
.aResources a.k2ReadMore { }
.mg .aResources .subCategoryInner h2 { background:url(../images/aResourcesBg.gif) no-repeat scroll 50% 0 transparent; }
.aResources #itemsListSecondary h3.catItemTitle { font-size:1.25em; padding:0; margin:20px 0 10px; text-indent:24px; background:url(../images/jIcon.gif) no-repeat scroll 0 50% transparent; }
.aResources #itemsListSecondary .catItemIntroText > p { margin:inherit; }
.aResources #itemsListSecondary .catItemBody { border-bottom:1px solid #d3d3d3; }
.aResources #itemListPrimary { margin-top:15px; }
.aResources .subCategoryContainer { width:300px!important; }

/* Facebook like */
#fblike { margin:20px 0; }

/* ub Menu */

/*.ubMenu ul { float:left; }*/
div.k2UserBlock ul li { display:block; list-style-type:none; text-indent:10px; background:transparent; }
div.k2UserBlock ul { margin:0 10px 0 0; padding:0; float:left; }
.k2UserBlock p { margin:0 0 0 10px; }
#k2Container h3 .cufon canvas { font:sans-serif!important; }

/* Intl Articles */
.frontpage #itemListPrimary > div:nth-child(9) { background:#dae8f4; }

/* Joomla Comment */
#joomlacommentform,#Comments { -moz-box-shadow:0 2px 3px #CCC; -webkit-box-shadow:0 2px 3px #CCC; box-shadow:0 2px 3px #CCC; }
#joomlacommentform textarea { padding:10px; width:96%; margin-bottom:10px; }
#comment #Comments ul { border:1px solid #DFDFDF; }
#comment #Comments ul ul { border:0; }
#poweredby { margin:10px 0; }
#sidebar2 img { max-width:100%; height:auto; }
#k2ModuleBox53 { display:none; }
span.catItemEditLink { float:right; padding:0; }

/* User Block (authors) */
div.userBlock { font-size:11px; /*height:250px; overflow-x:hidden; overflow-y:auto;*/ }
div.userBlock h3 { display:none; }

/* K2 Account Page */
.k2AccountPage .inputbox,.k2AccountPage .text_area { margin:4px; }