/**
 * @version		1.0
 * @package		JCM Utilities Plugin
 * @author    JoomlaWorks http://www.joomlaworks.gr
 * @copyright	Copyright (c) 2006 - 2010 JoomlaWorks, a business unit of Nuevvo Webware Ltd. All rights reserved.
 * @license		GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */

/* Common */
a:active,
a:focus {outline:0;}
.clr {clear:both;height:0;line-height:0;margin:0;padding:0;float:none;}



/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------- LISTING VIEW STYLING -------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ----------------------- ARTICLE/ITEM VIEW STYLING ------------------------ */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

div.jcmPlgSocialContainer {padding-bottom:12px;}
	div.jcmPlgSocialContainer h3 {color:#D96F0F;}
	div.jcmPlgSocialTwitter {float:left;width:110px;margin-right:8px;}
	div.jcmPlgSocialGplusone {float:left;width:120px;margin-right:8px;}
	div.jcmPlgSocialFacebook {}



/* END */
