/**
 * @package         ReReplacer
 * @version         6.2.6PRO
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@media (max-width: 767px) {
  #toolbar-edit,
  #toolbar-copy,
  #toolbar-publish,
  #toolbar-unpublish,
  #toolbar-trash,
  #toolbar-box-remove {
    display: none;
  }
}
