@charset "UTF-8";

/* A variation on Eric Meyer's CSS Reset:
   This is disabled because the Blueprint framework already has it.
   You should enable it if you aren't using Blueprint.

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
abbr,acronym {
	border:0;
}
*/

/* Below are the CSS styles that aren't included with Blueprint. It's a good idea to keep them whether or not you use it unless you know what you're doing. */

/* Text styles */
.blog-featured h2 {
	font-size: 1.5em;
	margin-bottom: 0em;
}

p.readmore {
	text-indent: 0;
	font-size: .9em;
}

.joomla-footer {
	font-size: .9em;
	margin-bottom: 30px;
}

/* Article functions */
ul.actions {
	clear: both;
	margin-top: -50px;
	float: right;
}

ul.actions li {
	list-style-type: none;
	float: right;
	margin-left: 10px;
}

/* Login styles */
p#form-login-username label,p#form-login-password label {
	width: 160px;
	display: block;
}

p#form-login-remember label {
	font-size: .9em;
	font-weight: normal;
	line-height: 25px;
}

p#form-login-remember input {
	float: left;
	margin-right: 5px;
}

form#form-login ul {
	margin: 0;
	padding: 0;
}

form#form-login ul li {
	list-style-type: none;
	margin-left: 20px;
	font-size: .9em;
}

/* Image float styles */
.img-fulltext-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.img-intro-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-fulltext-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.img-intro-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* Josetta styles */
.jta_img_logo {
}

.jta_page_title {
	font-size: 3em;
	margin-bottom: 0;
	color: #111;
}

.jta_page_subtitle {
	font-size: 1.5em;
	margin-bottom: 0;
	color: #111;
}

.jta_page_subtitle_small {
	font-size: 1em;
	height: 1.5em;
	line-height: 1.5em;
	color: #111;
	font-style: italic;
}

.jta_page_subtitle_right {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #111;
  float:right;
}

body {
	padding: 5.5em 0 0 0;
}

.jta_fixed_header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 6.5em;
	overflow: hidden;
	background: white;
	border: none;
	margin: 0px;
	padding: 0px;
	z-index: 10000;
}

/******** A51 - Modif *******/
.jta_fixed_filters_container {
  background: white;
  border: none;
  margin: 0px;
  padding: 0.2em 0 0.2em 0;
}

.jta_fluid_content_container {
	background: white;
	clear:left;
}
/******** A51 - Fin Modif *******/


.jta_content {
	width: 100%;
	overflow: auto;
	padding-top:1em;
}

.jta_container {
	clear: both;
	width: 95%;
	margin: 0 auto;
}

.jta_text_container {
	height: 6em;
	line-height: 6em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.pagination-start,.pagination-end,.pagenav {
	margin-right: 0.5em
}

.list-footer {
	
}

select {
	border-color: #ccc;
	margin-left: 5px;
	margin-right: 5px;
}

/* -- TOOLTIP STYLES ----------------------------- */
.tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 400px;
	z-index: 50;
}

.tip-title {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/system/selector-arrow.png) no-repeat;
}

.tip-text {
	font-size: 1em;
	margin: 0;
}
